.contenter{ font-size: 16px; font-family: "microsoft yahei",simsun; text-align: left; background: url(../images/bg.jpg) repeat; min-width: 1158px;}
.contenter #top {height: 778px; background: url(../images/top.jpg) no-repeat center top;}
.contenter .main{ width: 1000px; margin: 0 auto; position: relative; top: -260px;}

.contenter .main .form-wrap{ height: 315px; background-color: #ffdf00; overflow: hidden;}
.contenter .main .form-wrap .left{ float: left; width: 384px; color: #62006a; font-size: 18px; padding-left: 42px; padding-top: 20px;}
.contenter .main .form-wrap .left h3{ color: #000000; line-height: 34px; padding-top: 20px; font-weight: normal; margin: 0;}
.contenter .main .form-wrap .right{ float: left; width: 541px;}
.contenter .main .form-wrap .right form{ background: #ffae00; padding-left: 50px; padding-bottom: 20px;}
.contenter .main .form-wrap .right h3{ margin-top: 20px; margin-bottom: 10px; font-weight: bold;}
.contenter .main .form-wrap .right form div{ padding-top: 15px;}
.contenter .main .form-wrap .right form div input{ width: 224px; height: 40px; border: none; text-indent: 1em; line-height: 40px;}
.contenter .main .form-wrap .right form div label.error{ color: #ff0000; font-size: 12px; font-family: simsun; padding-left: 15px; font-weight: normal;}
.contenter .main .form-wrap .right form div input.yzm_btn{ background: none; border: none; width: 130px; text-align: center; font-size: 16px;}
.contenter .main .form-wrap .right form .submit{ background: #62006a; border: none; color: #ffffff; width: 153px; height: 34px; text-align: center; display: block; margin: 0 auto;}

.contenter .main .box{ width: 1000px; background: #512a54; padding-top:80px; position: relative; margin-top: 34px; clear: both;}
.contenter .main .box .title_box{ background: url(../images/banner.png) no-repeat; width: 1158px; height: 79px; position: absolute; top: 0px; left: -79px;}
.contenter .main .box .title_box .title{ background: url(../images/title.png) no-repeat; width: 484px; height: 34px; margin: 15px 0 0 85px;}
.contenter .main .box .title_box .title.t1{ background-position: 0 0;}
.contenter .main .box .title_box .title.t2{ background-position: 0 -40px;}
.contenter .main .box .title_box .title.t3{ background-position: 0 -86px;}
.contenter .main .box .title_box .title.t4{ background-position: 0 -127px;}
.contenter .main .box .logo {width: 950px; height: 670px; margin: 0 auto; padding-top: 20px;}
.contenter .main .box .liucheng{ width: 823px; height: 223px; margin: 0 auto; }
.contenter .main .box .liucheng img{ padding-top: 40px;}
.contenter .main .box .con{ color: #ffffff;  padding:20px 0 30px 100px; position: relative;}
.contenter .main .box .con p{font-size: 20px;line-height: 53px;}
.contenter .main .box .con span{ display: block; width: 470px; height: 107px; line-height: 22px; background: #815c84; font-size: 14px; padding: 10px 20px; position: absolute; bottom: 0; right: 0;}
.contenter .main .box .con span h3{ font-size: 16px; line-height: 26px; font-weight: normal; margin: 0;}
.contenter .main .box img{ display: block;}
.contenter .main .box ul{ overflow: hidden; padding-bottom: 45px; margin-left: 20px;}
.contenter .main .box ul li{ width: 273px; height: 345px; background: #ffffff; float: left; margin-left: 35px; margin-top: 35px;}
.contenter .main .box ul li:hover{ position: relative; top: -2px;}
.contenter .main .box ul li img{ width: 273px; height: 273px;}
.contenter .main .box ul li .left{ width: 163px; float: left; height: 72px; background: #ffdd1e;}
.contenter .main .box ul li .left a{text-decoration: none; line-height: 26px; padding: 10px; text-align: center; display: block;}
.contenter .main .box ul li .right{ width: 110px; float: left; height: 72px; background: #ffb300;line-height: 30px;}
.contenter .main .box ul li .right s{ font-size: 14px; color: #cc4d00; padding-left: 10px; }
.contenter .main .box ul li .right p{ color: #3e007d; font-size:32px;padding-left: 10px; font-weight: bold;}
.contenter .main .box ul li .right p span{ font-size: 16px;}
.seachline li{ height: auto;}





