@import "func";

.page {
  padding-bottom: 80px;

}

.hd {
  position: relative;
  padding: 12px;
  background-color: #e9e9e9;
  img {
    max-width: 100%;
  }
  .level {

    color: #ff8484;
    text-align: left;
    font-size: 0.8rem;
    position: absolute;
    bottom: 11%;
    left: 8%;

  }

}

.bd {

  .main {
    padding: 0 12px 12px 12px;
    background-color: #e9e9e9;
    @include flexbox();
    @include align-items();
    .photo {
      width: 20%;
      img {
        max-width: 100%;
        -webkit-border-radius: 50%;
        -webkit-background-size: cover;
        border: 1px solid #fff;
      }
    }
    .info {
      @include flex(1);
      vertical-align: middle;
      margin-left: 12px;
      span {
        vertical-align: middle;
        display: inline-block;
        width: 92%;
        h4 {
          font-size: 1rem;
          color: #383838;
          line-height: 1.8;
        }
        p {
          font-size: .8rem;
          small {
            font-size: .8rem;
          }
        }
      }
    }
    .checkBox{
      padding-right: 10px;
      .check{
        &.disabled{
          background-color: #d2d0d0;
        }
        display: inline-block;
        margin-bottom: 5px;
        font-size:1rem;
        color: #fff;
        background-color: #ff9d3d;
        padding: 6px 1.2rem;
        border-radius: 6px;
      }
      text-align: right;
      p{
        font-size: 0.8rem;
      }
      span{
        color: #ff9d3d;
      }
    }
  }
  .weui_cells {
    margin-top: 0px;
  }
  .weui_cell_ft{
      font-size: 0.6rem;
      color: red;
  }
}