@import "func";

.page {
  padding-bottom: 80px;

}

.ui-tab {
  width: 100%;
  overflow: hidden
}

.ui-tab-nav {
  width: 100%;
  background-color: #fff;
  font-size: 16px;
  height: 50px;
  @include flexbox();
  position: fixed;
  z-index: 100;
}

.ui-tab-content {
  z-index: 10;
  margin-top: 50px;
  @include flexbox();
  width: 500%;
  @include transition(transform 1s);
  transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1);
}

.ui-tab-content > li {
  @include flex(1);
  width: 100%
}

.ui-tab-nav li {
  height: 50px;
  line-height: 50px;
  min-width: 60px;
  text-align: center;
  color: #777;
  border-bottom: 2px solid transparent;
  width: 100%;
  @include flex(1);
}

.ui-tab-nav li.current {
  color: #d00000;
  border-bottom: 2px #d00000 solid
}

.ui-tab-nav li:active {
  opacity: .8
}

.weui_cells {
  margin-top: 2px;
  .weui_cell {
    -webkit-box-align: start;
    -moz-align-items: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    p {
      font-size: 12px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: #c4c3c3;
      @include flex(1);
    }
    h5{
      @include flex(1);
    }
  }
}

.weui_cells {

  img {
    width: 60px;
    margin-right: 5px;
    display: block
  }
}
.w100{
  width: 100px;
}
.box {

  @include flexbox();
  padding: 6px 0px;

}




