@charset "UTF-8";
.hd {
  position: relative; }
  .hd img {
    max-width: 100%; }
  .hd .help {
    width: 100%;
    color: #fdc23a;
    text-align: right;
    font-size: 0.8rem;
    position: absolute;
    top: 5px;
    right: 5px; }
  .hd .ct {
    width: 100%;
    position: absolute;
    bottom: 20%;
    display: -webkit-box;
    /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box;
    /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox;
    /* 混合版本语法: IE 10 */
    display: -webkit-flex;
    /* 新版本语法: Chrome 21+ */
    display: flex;
    /* 新版本语法: Opera 12.1, Firefox 22+ */
    -webkit-box-pack: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    align-items: center;
    color: #fff; }
    .hd .ct p {
      -webkit-box-flex: 1.0;
      -moz-flex-grow: 1;
      -webkit-flex-grow: 1;
      flex-grow: 1;
      text-align: center;
      color: #aeadb2; }
      .hd .ct p span {
        display: block;
        color: #fdc23a;
        font-size: 1.2rem; }
    .hd .ct img {
      display: inline-block;
      width: 26px;
      vertical-align: middle; }

.bd {
  color: #ababab; }
  .bd .tabMenu {
    display: -webkit-box;
    /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box;
    /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox;
    /* 混合版本语法: IE 10 */
    display: -webkit-flex;
    /* 新版本语法: Chrome 21+ */
    display: flex;
    /* 新版本语法: Opera 12.1, Firefox 22+ */
    -webkit-box-pack: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #d9d9d9;
    /*overflow: hidden;*/ }
    .bd .tabMenu p {
      position: relative;
      -webkit-box-flex: 1.0;
      -moz-flex-grow: 1;
      -webkit-flex-grow: 1;
      flex-grow: 1;
      text-align: center;
      padding: 12px;
      font-size: 18px;
      font-weight: bold; }
      .bd .tabMenu p.active {
        position: relative;
        color: #cf0001; }
        .bd .tabMenu p.active::before {
          content: "";
          position: absolute;
          top: -20%;
          left: 50%;
          width: 0;
          height: 0;
          border-left: 15px solid transparent;
          border-right: 15px solid transparent;
          border-bottom: 15px solid #ffffff;
          transform: translateX(-50%);
          -webkit-transform: translateX(-50%); }
    .bd .tabMenu .menuLine {
      display: inline-block;
      color: #cf0001;
      position: absolute;
      bottom: 0;
      left: 0%;
      width: 50%;
      text-align: center;
      height: 30px;
      transition: left .2s;
      -webkit-transition: left .2s; }
      .bd .tabMenu .menuLine::after {
        display: inline-block;
        height: 93%;
        content: '';
        text-align: center;
        width: 70%;
        border-bottom: 2px solid #cf0001; }
  .bd .weui_cells {
    margin-top: 12px; }
  .bd .list {
    display: none; }
    .bd .list.active {
      display: block; }
    .bd .list p {
      font-size: 14px;
      line-height: 1.8; }
    .bd .list .weui_cell_ft_no {
      text-align: right; }

/*# sourceMappingURL=point.css.map */
