@charset "UTF-8";
/* keyframes.scss */
/* animation.scss */
/*动画暂停*/
.hd {
  position: relative; }
  .hd img {
    max-width: 100%; }

.uBox {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: end;
  -moz-align-items: flex-end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  align-self: flex-end;
  padding: 0px 12px;
  margin-top: -40px;
  padding-bottom: 12px; }
  .uBox .uImg {
    width: 80px; }
    .uBox .uImg img {
      max-width: 100%; }
  .uBox .title {
    font-size: 1.1rem;
    padding-left: 12px;
    font-family: "微软雅黑", Arial, Helvetica, sans-serif; }

.bd .ui-searchbar-wrap {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  background-color: #ebeced;
  height: 44px; }
.bd .ui-searchbar {
  border-radius: 5px;
  margin: 0 10px;
  background: #fff;
  height: 30px;
  line-height: 30px;
  position: relative;
  padding-left: 4px;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  color: #bbb;
  font-size: 14px;
  width: 100%; }
  .bd .ui-searchbar input {
    -webkit-appearance: none;
    border: none;
    background: none;
    color: #000;
    width: 100%;
    padding: 4px 0; }
  .bd .ui-searchbar .ui-icon-search {
    background: url("../img/search.png") no-repeat;
    width: 40px;
    height: 24px;
    background-size: 60%; }
  .bd .ui-searchbar .ui-icon-close {
    line-height: 30px; }
.bd .ui-searchbar-input {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }
.bd .navBox {
  position: relative;
  padding: 0 8px; }
  .bd .navBox ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    align-items: center;
    position: relative; }
    .bd .navBox ul::after {
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      -webkit-transform: scaleY(0.5);
      -moz-transform: scaleY(0.5);
      -ms-transform: scaleY(0.5);
      -o-transform: scaleY(0.5);
      transform: scaleY(0.5); }
    .bd .navBox ul li {
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      padding: 10px 0px;
      border-bottom: 2px solid transparent;
      max-width: 100px;
      color: #777;
      font-size: 14px; }
      .bd .navBox ul li.active {
        color: #d00000;
        border-bottom: 2px #d00000 solid; }
  .bd .navBox .moreBox {
    display: none;
    position: absolute;
    top: 56px;
    right: 12px;
    background-color: #545454;
    border-radius: 10px;
    font-size: 16px;
    line-height: 1.8;
    padding: 12px; }
    .bd .navBox .moreBox.active {
      display: block; }
    .bd .navBox .moreBox:before {
      position: absolute;
      content: '';
      top: -10px;
      right: 20%;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #545454; }
    .bd .navBox .moreBox a {
      display: inline-block;
      color: #fff;
      width: 70px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
.bd .content {
  margin: 15px; }
  .bd .content a {
    display: block; }
  .bd .content .list-horizontal {
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    width: 49%;
    float: left;
    margin-bottom: 12px; }
    .bd .content .list-horizontal .imgBox {
      width: 100%; }
      .bd .content .list-horizontal .imgBox img {
        width: 100%; }
    .bd .content .list-horizontal .name {
      font-size: 14px;
      line-height: 1.8;
      padding: 4px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .bd .content .list-horizontal .price {
      color: red;
      padding: 4px 4px 4px 8px; }
    .bd .content .list-horizontal:nth-child(even) {
      float: right; }
  .bd .content .list-vertical {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    align-items: center;
    position: relative;
    padding: 12px 0px; }
    .bd .content .list-vertical .imgBox {
      margin-right: 12px;
      width: 30%; }
      .bd .content .list-vertical .imgBox img {
        width: 100%; }
    .bd .content .list-vertical .name {
      font-size: 18px;
      line-height: 1.8;
      padding: 4px 0px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .bd .content .list-vertical .price {
      color: red; }
    .bd .content .list-vertical::after {
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      -webkit-transform: scaleY(0.5);
      -moz-transform: scaleY(0.5);
      -ms-transform: scaleY(0.5);
      -o-transform: scaleY(0.5);
      transform: scaleY(0.5); }

/*# sourceMappingURL=index.css.map */
