<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Amaze UI Admin table Examples</title>
    <meta name="description" content="这是一个 table 页面">
    <meta name="keywords" content="table">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="/amazeui/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/amazeui/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-table.css">
    <link rel="stylesheet" href="/amazeui/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="/amazeui/assets/css/admin.css">

    <!--[if lt IE 9]>
    <script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
    <script src="/amazeui/assets/js/polyfill/rem.min.js"></script>
    <script src="/amazeui/assets/js/polyfill/respond.min.js"></script>
    <script src="/amazeui/assets/js/amazeui.legacy.js"></script>
    <![endif]-->
    <!--[if (gte IE 9)|!(IE)]><!-->
    <script src="/amazeui/assets/js/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/bootstrap-table.js"></script>
    <script src="/javascripts/bootstrap-table-zh-CN.js"></script>
    <script src="/amazeui/assets/js/amazeui.min.js"></script>
    <!--<![endif]-->
    <script src="/amazeui/assets/js/app.js"></script>
    <script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.all.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="/ueditor/lang/zh-cn/zh-cn.js"></script>
    <script>
        $(function () {

            $("#dateTime").datepicker('setValue', '<%=news.addTime%>');

            $('input[type=checkbox], input[type=radio]').uCheck();
            var timer_popup;
            var popup = function (msg, flag) {
                var $popup = $(".am-popover");
                !flag ? $popup.children().css("background-color", "#dd514c") : $popup.children().css("background-color", "#5eb95e")
                clearTimeout(timer_popup);
                $popup.addClass('am-active').find(".am-popover-inner").html(msg);
                timer_popup = setTimeout(function () {
                    $(".am-popover").removeClass('am-active');
                }, 1500);
            };

            var imgHtml = '<div style="position: relative; display: inline-block;padding: 0px 5px 5px 0px;">'
                    + '<a href="###" class="am-close am-close-alt am-close-spin am-icon-times" style="position: absolute;right: 0;top: 0;"></a>'
                    + '<img class="am-radius am-img-thumbnail" alt="暂无图片" src="../nopic.gif"'
                    + 'width="140" height="140"/>'
                    + '<input type="hidden" name="listImgUrl" class="listImgUrl">'
            '</div>';
            /*上传方法*/
            function upload($file, callback) {
                var data = new FormData();
                var files = $file[0].files;
                if (files.length > 0) {
                    if (["image/png", "image/jpg", "image/gif", "image/jpeg", "image/bmp"].indexOf(files[0].type) < 0) {
                        popup("请选择图片文件", false);
                        return;
                    }
                    data.append('uploadImg', files[0]);
                    $.ajax({
                        cache: false,
                        type: 'post',
                        dataType: 'json',
                        url: '../admin/news-upload',
                        data: data,
                        contentType: false,
                        processData: false,
                        success: function (data) {
                            callback(data)
                        }
                    });
                }
            };
            /*封面图片*/
            $('.uploadImg').change(function () {
                upload($(this), function (data) {
                    if (data.success) {
                        $(".fristImgUrl").val(data.msg).prev().attr("src", "../" + data.msg);
                    }
                    popup(data.msg, data.success);
                });
            });

            /*图片相册*/
            $(".listImg").change(function () {
                upload($(this), function (data) {
                    if (data.success) {
                        var $html = $(imgHtml);
                        $html.find("[type=hidden]").val(data.msg).prev().attr("src", "../" + data.msg);
                        $("#listImgWrap").append($html);
                    }
                    popup(data.msg, data.success);
                });
            });
            /*图片关闭*/
            $(document).on('click', '#listImgWrap a', function () {
                $(this).parent("div").remove();
            });

            //添加修改操作
            $(document).on('click', '.am-btn-primary:last', function () {
                if ($('.am-form').validator().data('amui.validator').isFormValid()) {
                    $.AMUI.progress.start();
                    $.ajax({
                        url: $('.am-form').attr('action'),
                        type: 'post',
                        dataType: 'json',
                        data: $('.am-form').serialize(),
                        success: function (data) {
                            $.AMUI.progress.done();
                            if (data.success) {
                                //$table.bootstrapTable('refresh');
                                popup(data.msg, data.success);
                            } else {
                                popup(data.msg, data.success);
                            }
                        }
                    })
                } else {
                    popup("请检查字段验证", false);
                }
            });
            //取消操作
            $(document).on('click', '.am-btn-primary:first', function () {
                $('#popWinClose', parent.document).trigger('click');
            });
        })
    </script>
</head>
<body>


<!--dialog-->
<div class="am-modal" tabindex="-1" id="formMoal">
    <div class="am-modal-dialog" style="overflow: auto;">

        <div class="am-modal-bd" style="border: 0px">
        </div>
    </div>
</div>

<!--提示框-->
<div class="am-popover  am-popover-top"
     style="display: block; top: 1%; left: 50%; z-index: 1200; border: none; width: 230px;text-align: center;margin-left: -115px;position: fixed">
    <div class="am-popover-inner"></div>
</div>
<!--confirm框-->
<div class="am-modal am-modal-confirm" tabindex="-1" id="formConfirm">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">删除操作</div>
        <div class="am-modal-bd">
            你，确定要删除这条记录吗？
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-cancel>取消</span>
            <span class="am-modal-btn" data-am-modal-confirm>确定</span>
        </div>
    </div>
</div>

<!-- content start -->
<div class="admin-content">
    <!--<div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">信息</strong> /
            <small>Table</small>
        </div>
    </div>-->

    <div class="am-g">
        <form class="am-form" data-am-validator>
            <div class="am-tabs am-margin" data-am-tabs>
                <ul class="am-tabs-nav am-nav am-nav-tabs">
                    <li class="am-active"><a href="#tab1">基本信息</a></li>
                    <li><a href="#tab2">SEO 选项</a></li>
                </ul>
                <input type="hidden" name="_id" value="<%=news._id%>"/>
                <div class="am-tabs-bd">
                    <div class="am-tab-panel am-fade am-in am-active" id="tab1">
                        <div class="am-g am-margin-top">
                            <div class="am-u-sm-4 am-u-md-2 am-text-right">所属类别</div>
                            <div class="am-u-sm-8 am-u-md-10">

                                <select name="category" data-am-selected="{btnSize: 'sm'}">
                                    <% for(var i=0; i<category.length; i++) {%>
                                        <option a="" value="<%=category[i]._id%>" <%=news.category==category[i]._id.toString()?"selected":""%>><%=category[i].name%></option>
                                    <% } %>
                                </select>

                            </div>
                        </div>

                        <script>
                           /* var news = JSON.parse('<%-news%>');//转换成json对象*/
                            /*$('#ifr').contents().find(".am-form").serialize()*/

                        </script>
                        <div class="am-g am-margin-top">
                            <div class="am-u-sm-4 am-u-md-2 am-text-right">显示状态</div>
                            <div class="am-u-sm-8 am-u-md-10">
                                <div class="aam-form-group">

                                    <label class="am-radio-inline">
                                        <input type="radio" name="state" value="true"
                                        <%=news.state?"checked":""%>>
                                        正常
                                    </label>
                                    <label class="am-radio-inline">
                                        <input type="radio" name="state" value="false"
                                        <%=!news.state?"checked":""%> >
                                        不显示
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="am-g am-margin-top">
                            <div class="am-u-sm-4 am-u-md-2 am-text-right">推荐类型</div>
                            <div class="am-u-sm-8 am-u-md-10">
                                <div class="am-btn-group" data-am-button>

                                    <label class="am-btn am-btn-default am-btn-xs <%=news.mark.indexOf('isTop')!=-1?'am-active':''%>">
                                        <input type="checkbox" name="mark" value="isTop"
                                        <%=news.mark.indexOf('isTop')!=-1?'checked':''%>> 置顶
                                    </label>
                                    <label class="am-btn am-btn-default am-btn-xs <%=news.mark.indexOf('isRecommend')!=-1?'am-active':''%>">
                                        <input type="checkbox" name="mark" value="isRecommend"
                                        <%=news.mark.indexOf('isRecommend')!=-1?'checked':''%>> 推荐
                                    </label>
                                    <label class="am-btn am-btn-default am-btn-xs <%=news.mark.indexOf('isHot')!=-1?'am-active':''%>">
                                        <input type="checkbox" name="mark" value="isHot"
                                        <%=news.mark.indexOf('isHot')!=-1?'checked':''%>> 热门
                                    </label>
                                    <label class="am-btn am-btn-default am-btn-xs <%=news.mark.indexOf('isSlider')!=-1?'am-active':''%>">
                                        <input type="checkbox" name="mark" value="isSlider"
                                        <%=news.mark.indexOf('isSlider')!=-1?'checked':''%>> 轮播图
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="am-g am-margin-top">
                            <div class="am-u-sm-4 am-u-md-2 am-text-right">
                                发布时间
                            </div>
                            <div class="am-u-sm-8 am-u-md-4">
                                <form action="" class="am-form am-form-inline">
                                    <div class="am-form-group am-form-icon ">
                                        <i class="am-icon-calendar"></i>
                                        <input type="text" name="addTime" class="am-form-field am-input-sm"
                                               id="dateTime"
                                               placeholder="时间">
                                    </div>
                                </form>
                            </div>
                            <div class="am-hide-sm-only am-u-md-6"></div>
                        </div>

                        <div class="am-g am-margin-top">
                            <div class="am-u-sm-4 am-u-md-2 am-text-right">
                                文章标题
                            </div>
                            <div class="am-u-sm-8 am-u-md-4">
                                <input type="text" name="title" class="am-input-sm" value="<%=news.title%>"
                                       required>
                            </div>
                            <div class="am-hide-sm-only am-u-md-6">*必填，不可重复</div>
                        </div>

                        <div class="am-g am-margin-top">
                            <div class="am-u-sm-4 am-u-md-2 am-text-right">
                                文章作者
                            </div>
                            <div class="am-u-sm-8 am-u-md-4 am-u-end col-end">
                                <input type="text" name="author" class="am-input-sm"
                                       value="<%=news.author%>">
                            </div>
                        </div>

                        <div class="am-g am-margin-top">
                            <div class="am-u-sm-4 am-u-md-2 am-text-right">
                                信息来源
                            </div>
                            <div class="am-u-sm-8 am-u-md-4">
                                <input type="text" name="from" class="am-input-sm" value="<%=news.from%>">
                            </div>
                            <div class="am-hide-sm-only am-u-md-6">选填</div>
                        </div>

                        <div class="am-g am-margin-top">
                            <div class="am-u-sm-4 am-u-md-2 am-text-right">
                                内容摘要
                            </div>
                            <div class="am-u-sm-8 am-u-md-4">
                                <textarea name="information" rows="4" name="information"><%-news.information%></textarea>
                            </div>
                            <div class="am-u-sm-12 am-u-md-6">不填写则自动截取内容前255字符</div>
                        </div>
                        <div class="am-g am-margin-top">
                            <div class="am-u-sm-4 am-u-md-2 am-text-right">
                                封面图片
                            </div>
                            <div class="am-u-sm-8 am-u-md-4">
                                <div class="am-form-group am-form-file">
                                    <button type="button" class="am-btn  am-btn-sm">
                                        <i class="am-icon-cloud-upload"></i> 选择要上传的文件
                                    </button>
                                    <input id="doc-form-file" type="file" class="uploadImg" name="fristImg" multiple>
                                </div>
                                <img class="am-radius" alt="暂无图片"
                                     src="../<%=news.fristImgUrl || 'nopic.gif'%>" width="140"
                                     height="140"/>
                                <input type="hidden" name="fristImgUrl" class="fristImgUrl"
                                       value="<%=news.fristImgUrl%>">
                            </div>
                            <div class="am-u-sm-12 am-u-md-6"></div>
                        </div>
                        <div class="am-g am-margin-top">
                            <div class="am-u-sm-4 am-u-md-2 am-text-right">
                                图片相册
                            </div>
                            <div class="am-u-sm-8 am-u-md-10">
                                <div class="am-form-group am-form-file">
                                    <button type="button" class="am-btn  am-btn-sm" id="listImgBtn">
                                        <i class="am-icon-plus-circle"></i> 添加图片
                                    </button>
                                    <input type="file" class="listImg" name="listImg" multiple>
                                </div>
                                <div style="padding:10px 0px;" class="am-fl" id="listImgWrap">

                                    <%  for(var i=0;i<news.listImgUrl.length;i++){%>

                                    <div style="position: relative; display: inline-block;padding: 0px 5px 5px 0px;">
                                            <a href="###" class="am-close am-close-alt am-close-spin am-icon-times"
                                               style="position: absolute;right: 0;top: 0;"></a>
                                            <img class="am-radius am-img-thumbnail"  src="../<%=news.listImgUrl[i]%>"
                                                 width="140" height="140"/>
                                            <input type="hidden" name="listImgUrl" class="listImgUrl" value="<%=news.listImgUrl[i]%>">
                                        </div>
                                    <%  } %>

                                </div>
                            </div>

                        </div>
                        <div class="am-g am-margin-top">
                            <div class="am-u-sm-4 am-u-md-2 am-text-right">
                                排序
                            </div>
                            <div class="am-u-sm-8 am-u-md-4">
                                <input type="text" name="sort" class="am-input-sm" value="<%=news.sort%>">
                            </div>
                            <div class="am-u-sm-12 am-u-md-6">升序排列</div>
                        </div>
                        <div class="am-g am-margin-top">
                            <div class="am-u-sm-4 am-u-md-2 am-text-right">
                                点击率
                            </div>
                            <div class="am-u-sm-8 am-u-md-4">
                                <input type="text" name="clickCount" class="am-input-sm"
                                       value="<%=news.clickCount%>">
                            </div>
                            <div class="am-u-sm-12 am-u-md-6"></div>
                        </div>
                        <div class="am-g am-margin-top-sm">
                            <div class="am-u-sm-12 am-u-md-2 am-text-right admin-form-text">
                                内容描述
                            </div>
                            <div class="am-u-sm-12 am-u-md-10">
                                <script id="editor" name="body" type="text/plain" style="height:500px;">
                                    <%-news.body%>
                                </script>
                                <script type="text/javascript">
                                    //实例化编辑器
                                    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
                                    var ue = UE.getEditor('editor');
                                </script>
                            </div>
                        </div>
                    </div>


                    <div class="am-tab-panel am-fade" id="tab2">

                        <div class="am-g am-margin-top-sm">
                            <div class="am-u-sm-4 am-u-md-2 am-text-right">
                                SEO 标题
                            </div>
                            <div class="am-u-sm-8 am-u-md-4 am-u-end">
                                <input type="text" name="seoTitle" class="am-input-sm"
                                       value="<%=news.seoTitle%>">
                            </div>
                        </div>

                        <div class="am-g am-margin-top-sm">
                            <div class="am-u-sm-4 am-u-md-2 am-text-right">
                                SEO 关键字
                            </div>
                            <div class="am-u-sm-8 am-u-md-4 am-u-end">
                                <input type="text" name="keywords" class="am-input-sm"
                                       value="<%=news.keywords%>">
                            </div>
                        </div>

                        <div class="am-g am-margin-top-sm">
                            <div class="am-u-sm-4 am-u-md-2 am-text-right">
                                SEO 描述
                            </div>
                            <div class="am-u-sm-8 am-u-md-4 am-u-end">
                                <textarea name="description" rows="4"><%-news.description%></textarea>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="am-g am-margin-xl">
                <div class="am-g am-g-collapse">
                    <div class="am-u-sm-5  am-text-right "><a class="am-btn am-btn-primary">取消</a></div>
                    <div class="am-u-sm-5  am-text-left"><a class="am-btn am-btn-primary">确定</a></div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- content end -->
</body>
</html>

