<div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
    <div class="am-offcanvas-bar admin-offcanvas-bar">
        <ul class="am-list admin-sidebar-list">
            <li><a href="index"><span class="am-icon-home"></span> 首页</a></li>
            <li class="admin-parent">
                <a class="am-cf" data-am-collapse="{target: '#collapse-nav'}"><span class="am-icon-file"></span> 信息模块(<span style="color: #ff0000">可用</span>) <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav">
                    <li><a href="/admin/category-index" class="am-cf"><span class="am-icon-check"></span> 类别管理<span class="am-icon-star am-fr am-margin-right admin-icon-yellow"></span></a></li>
                    <li><a href="/admin/news-index"><span class="am-icon-puzzle-piece"></span> 信息列表</a></li>
                    <!--<li><a href="admin-gallery.html"><span class="am-icon-th"></span> 图片新闻<span class="am-badge am-badge-secondary am-margin-right am-fr">24</span></a></li>-->
                </ul>
            </li>
            <li class="admin-parent">
                <a class="am-cf" data-am-collapse="{target: '#collapse-product'}"><span class="am-icon-file"></span> 商品模块 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                <ul class="am-list am-collapse admin-sidebar-sub" id="collapse-product">
                    <li><a href="###" class="am-cf"><span class="am-icon-check"></span> 类别管理 （未开放）<span class="am-icon-star am-fr am-margin-right admin-icon-yellow"></span></a></li>
                    <li><a href="###"><span class="am-icon-puzzle-piece"></span> 商品列表 （未开放）</a></li>
                    <!--<li><a href="admin-gallery.html"><span class="am-icon-th"></span> 图片新闻<span class="am-badge am-badge-secondary am-margin-right am-fr">24</span></a></li>-->
                </ul>
            </li>
            <!--<li class="admin-parent">-->
                <!--<a class="am-cf" data-am-collapse="{target: '#collapse-system'}"><span class="am-icon-file"></span> 系统模块 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>-->
                <!--<ul class="am-list am-collapse admin-sidebar-sub" id="collapse-system">-->
                    <!--<li><a href="admin-user.html" class="am-cf"><span class="am-icon-check"></span> 日志管理<span class="am-icon-star am-fr am-margin-right admin-icon-yellow"></span></a></li>-->
                    <!--<li><a href="admin-help.html"><span class="am-icon-puzzle-piece"></span> 留言</a></li>-->
                    <!--<li><a href="admin-gallery.html"><span class="am-icon-th"></span> 权限管理<span class="am-badge am-badge-secondary am-margin-right am-fr">24</span></a></li>-->
                <!--</ul>-->
            <!--</li>-->
            <li><a href="#"><span class="am-icon-sign-out"></span> 注销</a></li>
        </ul>

        <div class="am-panel am-panel-default admin-sidebar-panel">
            <div class="am-panel-bd">
                <p><span class="am-icon-bookmark"></span> 公告</p>
                <p>拐弯抹角地照顾所有人情绪，不如用直接清楚的话把事说清楚。—— 韩麒麟</p>
            </div>
        </div>

        <div class="am-panel am-panel-default admin-sidebar-panel">
            <div class="am-panel-bd">
                <p><span class="am-icon-tag"></span> wiki</p>
                <p>Integrated Development nodejs ——by Kylin </p>
            </div>
        </div>
    </div>
</div>