@charset "UTF-8";
/*@import "rest_nec";*/
/* keyframes.scss */
/* animation.scss */
/*动画暂停*/
.main {
  width: 100%;
  font-family: "microsoft yahei"; }

.bg1914 {
  background: url(../images/bg1914.jpg) no-repeat center top;
  height: 200px; }

.bg2914 {
  background: url(../images/bg2914.jpg) no-repeat center top;
  height: 289px; }

.bg3914 {
  background: url(../images/bg3914.jpg) no-repeat center top;
  height: 614px;
  position: relative; }

.bg4914 {
  background: url(../images/bg4914.jpg) no-repeat center top; }

.wrap {
  width: 1200px;
  margin: 0 auto; }

.bg3914 .info1 {
  padding-top: 30px;
  margin-left: 154px;
  position: relative; }

.bg3914 .info1 .qcts914 {
  margin-left: 960px;
  margin-top: -219px; }

.bg3914 .info1 .qqts-hover {
  display: none;
  width: 514px;
  height: 164px;
  z-index: 999;
  background-color: #ffd400;
  -webkit-box-shadow: 4px 6px #351208;
  -moz-box-shadow: 4px 6px #351208;
  box-shadow: 4px 6px #351208;
  position: absolute;
  top: 258px;
  right: 30px;
  padding-left: 15px;
  padding-top: 14px; }

.bg3914 .info1 .qqts-hover p {
  font-size: 14px;
  font-family: "microsoft yahei";
  color: #A80207;
  margin-top: 9px; }

.bg3914 .info1 .qqts-hover .qh1 {
  margin-top: 0; }

.bg3914 .info1 .qxzc914 {
  display: inline-block;
  margin-left: 800px;
  margin-top: 46px;
  height: 37px; }

.bg3914 .info1 .qxzc914 a {
  display: inline-block;
  height: 37px; }

.bg3914 .info1 .djsc914 {
  position: absolute;
  height: 37px;
  top: 296px;
  left: 656px; }

.bg3914 .info1 .djsc914 a {
  display: inline-block;
  height: 37px; }

.bg3914 .info1 .lkqq914 {
  position: absolute;
  top: 290px;
  left: 238px; }

.bg3914 .info3 {
  color: #fff;
  font-size: 17px;
  font-family: "microsoft yahei";
  position: absolute;
  left: 662px;
  top: 402px; }

.bg3914 .info3 .info3-f1 {
  text-indent: 21px; }

.bg3914 .info3 .info3-f2 {
  text-indent: 60px; }

.je {
  position: absolute;
  top: 205px;
  left: 257px;
  height: 70px;
  overflow: hidden; }
  .je ul {
    -webkit-animation: SlidePrice 4s cubic-bezier(1, 0, 0.5, 0) 0s infinite;
    -moz-animation: SlidePrice 4s cubic-bezier(1, 0, 0.5, 0) 0s infinite;
    -ms-animation: SlidePrice 4s cubic-bezier(1, 0, 0.5, 0) 0s infinite;
    -o-animation: SlidePrice 4s cubic-bezier(1, 0, 0.5, 0) 0s infinite;
    animation: SlidePrice 4s cubic-bezier(1, 0, 0.5, 0) 0s infinite; }
    .je ul li {
      margin-bottom: 40px;
      height: 64px;
      line-height: 64px;
      text-align: center; }
      .je ul li p {
        color: #F60035;
        font-size: 82px;
        font-family: "microsoft yahei";
        height: 64px;
        line-height: 64px; }
        .je ul li p span {
          font-size: 44px; }
    .je ul:hover {
      -webkit-animation-play-state: paused;
      -moz-animation-play-state: paused;
      -ms-animation-play-state: paused;
      -o-animation-play-state: paused;
      animation-play-state: paused; }

@-webkit-keyframes SlidePrice {
  0%, 100% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); }
  25% {
    -webkit-transform: translateY(-104px);
    -moz-transform: translateY(-104px);
    -ms-transform: translateY(-104px);
    -o-transform: translateY(-104px);
    transform: translateY(-104px); }
  50% {
    -webkit-transform: translateY(-208px);
    -moz-transform: translateY(-208px);
    -ms-transform: translateY(-208px);
    -o-transform: translateY(-208px);
    transform: translateY(-208px); }
  75% {
    -webkit-transform: translateY(-312px);
    -moz-transform: translateY(-312px);
    -ms-transform: translateY(-312px);
    -o-transform: translateY(-312px);
    transform: translateY(-312px); } }
@-moz-keyframes SlidePrice {
  0%, 100% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); }
  25% {
    -webkit-transform: translateY(-104px);
    -moz-transform: translateY(-104px);
    -ms-transform: translateY(-104px);
    -o-transform: translateY(-104px);
    transform: translateY(-104px); }
  50% {
    -webkit-transform: translateY(-208px);
    -moz-transform: translateY(-208px);
    -ms-transform: translateY(-208px);
    -o-transform: translateY(-208px);
    transform: translateY(-208px); }
  75% {
    -webkit-transform: translateY(-312px);
    -moz-transform: translateY(-312px);
    -ms-transform: translateY(-312px);
    -o-transform: translateY(-312px);
    transform: translateY(-312px); } }
@-ms-keyframes SlidePrice {
  0%, 100% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); }
  25% {
    -webkit-transform: translateY(-104px);
    -moz-transform: translateY(-104px);
    -ms-transform: translateY(-104px);
    -o-transform: translateY(-104px);
    transform: translateY(-104px); }
  50% {
    -webkit-transform: translateY(-208px);
    -moz-transform: translateY(-208px);
    -ms-transform: translateY(-208px);
    -o-transform: translateY(-208px);
    transform: translateY(-208px); }
  75% {
    -webkit-transform: translateY(-312px);
    -moz-transform: translateY(-312px);
    -ms-transform: translateY(-312px);
    -o-transform: translateY(-312px);
    transform: translateY(-312px); } }
@keyframes SlidePrice {
  0%, 100% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); }
  25% {
    -webkit-transform: translateY(-104px);
    -moz-transform: translateY(-104px);
    -ms-transform: translateY(-104px);
    -o-transform: translateY(-104px);
    transform: translateY(-104px); }
  50% {
    -webkit-transform: translateY(-208px);
    -moz-transform: translateY(-208px);
    -ms-transform: translateY(-208px);
    -o-transform: translateY(-208px);
    transform: translateY(-208px); }
  75% {
    -webkit-transform: translateY(-312px);
    -moz-transform: translateY(-312px);
    -ms-transform: translateY(-312px);
    -o-transform: translateY(-312px);
    transform: translateY(-312px); } }
.bg3914 .info2 p {
  color: #fff;
  font-size: 16px;
  font-family: "microsoft yahei";
  position: absolute; }

.bg3914 .info2 .info2-f1 {
  top: 426px;
  left: 160px; }

.bg3914 .info2 .info2-f2 {
  top: 451px;
  left: 196px; }

.bg3914 .info2 .info2-f3 {
  top: 481px;
  left: 228px; }

.bg3914 .info2 .info2-f4 {
  top: 515px;
  left: 270px; }

.bg3914 .info2 .info2-f5 {
  top: 547px;
  left: 313px; }

.bg3914 .info2 .info2-f6 {
  top: 581px;
  left: 356px; }

.bg3914 .info2 .info2-f7 {
  top: 603px;
  left: 443px; }

.gwxmd {
  padding-top: 140px;
  position: relative; }

.gwxmd .gwxmd2 {
  position: absolute;
  top: 324px;
  left: 49px; }

.gwxmd .gwxmd2 p {
  color: #fff;
  font-size: 16px;
  font-family: "microsoft yahei";
  margin-top: 2px; }

.gwxmd .gwxmd2 .gwxmd2-f1 {
  margin-top: 0; }

.gwxmd .gwxmd-wxts {
  position: absolute;
  top: 595px;
  left: 545px; }

.gwxmd .gwxmd-wxts a {
  display: inline-block; }

.gwxmd .gwxmd-wxts-hover {
  display: none;
  position: absolute;
  width: 442px;
  height: 129px;
  background-color: #ffd400;
  -webkit-box-shadow: 4px 6px #2C0F06;
  -moz-box-shadow: 4px 6px #2C0F06;
  box-shadow: 4px 6px #2C0F06;
  padding-top: 9px;
  padding-left: 16px;
  margin-left: 238px;
  margin-top: 33px; }

.gwxmd .gwxmd-wxts-hover p {
  font-size: 14px;
  color: #A80207;
  font-family: "microsoft yahei";
  margin-top: 6px; }

.gwxmd .gwxmd-wxts-hover .gwxmd-wxts-hover1 {
  margin-top: 0; }

.zdymd {
  margin-top: 43px; }

.zdymd .zdymd2 {
  margin-top: -119px;
  margin-left: 47px; }

.zdymd .zdymd2 p {
  font-size: 16px;
  color: #fff;
  font-family: "microsoft yahei";
  margin-top: 2px; }

.zdymd .zdymd2 .zdymd-f1 {
  margin-top: 0; }

.zjcmd {
  margin-top: 84px; }

.zjcmd .zjcmd2 {
  margin-left: 981px;
  margin-top: -19px; }

.zjcmd .zjcmd2-hover {
  display: none;
  position: absolute;
  z-index: 999;
  width: 473px;
  height: 300px;
  background-color: #ffd400;
  -webkit-box-shadow: 4px 6px #2C0F06;
  -moz-box-shadow: 4px 6px #2C0F06;
  box-shadow: 4px 6px #2C0F06;
  padding-top: 9px;
  padding-left: 15px;
  margin-left: 642px;
  margin-top: 3px; }

.zjcmd .zjcmd2-hover p {
  color: #A80207;
  font-size: 14px;
  font-family: "microsoft yahei";
  margin-top: 7px; }

.zjcmd .zjcmd2-hover .zjcmd2-hover-f1 {
  margin-top: 0; }

.jfhmd {
  margin-top: 31px;
  position: relative; }

.jfhmd .jfhmd2 {
  position: absolute;
  right: 212px;
  bottom: 3px; }

.jfhmd .jfhmd2-hover {
  display: none;
  position: absolute;
  right: 230px;
  width: 487px;
  height: 243px;
  background-color: #ffd400;
  padding-top: 10px;
  padding-left: 15px;
  -webkit-box-shadow: 4px 6px #2C0F06;
  -moz-box-shadow: 4px 6px #2C0F06;
  box-shadow: 4px 6px #2C0F06; }

.jfhmd .jfhmd2-hover p {
  color: #A80207;
  font-size: 14px;
  font-family: "microsoft yahei";
  margin-top: 7px; }

.gwsjk {
  margin-top: 45px; }

.tjms {
  margin-top: 88px;
  position: relative; }

.tjms .tjms1 {
  margin-left: 711px; }

.tjms .tjmsicon {
  width: 1080px;
  margin: 0 auto;
  margin-top: 23px; }

.tjms .tjmsicon a {
  display: inline-block; }

/*# sourceMappingURL=index.css.map */
