/**
 * Created by 韩麒麟 on 2015/10/20.
 * QQ:290147465
 */
*{ margin:0;padding:0;}
/* 修正IE5.x和IE6的斜体溢出bug */
* html body{ overflow:visible;}
* html iframe, * html frame{ overflow:auto;}
* html frameset{ overflow:hidden;}
body{ color:#000; background:#FFF; font:12px/22px "Microsoft YaHei",SimSun,SimHei,Verdana,Arial,sans-serif,"Times New Roman"; text-align:center;}
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,tr{ margin:0; padding:0;}
input,select{ font-size:12px; vertical-align:middle;}
body div{ text-align:left;}
/* 标签属性，textarea,input 强制输入时内容超出时换行 */
textarea,input{ word-wrap:break-word; word-break:break-all; padding:0px;}
li{ list-style-type:none;}
img{ border:0 none;}
a:link, a:visited{ color:#04C; text-decoration:none;}
a:hover{ color:#F60; text-decoration:underline;}
/* 去掉链接的虚线框 */
a { outline:none; star:expression(this.onFocus=this.blur());}
/* 定义H系列标签，覆盖H系列标签默认属性 */
h1{ font-size:24px;}
h2{ font-size:20px;}
h3{ font-size:18px;}
h4{ font-size:16px;}
h5{ font-size:14px;}
h6{ font-size:12px;}
/* 鼠标样式 */
.pointer{ cursor:pointer;}
/* 取消边框 */
.NoBorder{ border:0 none;}
/* 字母和单词换行设置，强制内容换行，强制内容不换行 */
.Break{ word-break:break-all; word-wrap:break-word;}
.Nobreak{ word-break:keep-all; word-wrap:normal;}
/* 浮动定义 */
.FL{ float:left;}
.FR{ float:right;}
/* 定位关系 */
.absolute{ position:absolute;}
.relative{ position:relative;}
.fixed{position: fixed;}

.o-hidden{overflow:hidden;}
.invisible{visibility:hidden;}
.hidden{display: none;}
.block {display:block;}
#G-lightbox-mask {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.5;
  filter: alpha(opacity=50);
  z-index: 10000;
  display: none;
}

#G-lightbox-popup {
  position: fixed;
  width: 400px;
  /*height: 300px;*/
  /*   background-color: #99cc33;*/
  left: 50%;
  top: 0px;
  z-index: 10001;
  margin-left: -200px;
  font: 12px/18px "Microsoft YaHei", SimSun, SimHei, Verdana, Arial, sans-serif, "Times New Roman";
  display: none;
}

#G-lightbox-popup .lightbox-pic-view {
  position: relative;
  border: 5px solid #FFF;
  border-radius: 3px;
  background: #FFF url("../images/lightbox/icon/loading.gif") no-repeat center center;
  overflow: hidden;
}

#G-lightbox-popup .lightbox-pic-view .lightbox-btn {
  position: absolute;
  top: 0;
  width: 40%;
  z-index: 10002;
  height: 100%;
}

#G-lightbox-popup .light-pic-view .lightbox-prev-btn {
  left: 0;
}

#G-lightbox-popup .lightbox-pic-view .lightbox-next-btn {
  right: 0;
}

#G-lightbox-popup .lightbox-pic-view .lightbox-prev-btn-show {
  background: url("../images/lightbox/icon/prev.png") no-repeat left center;
  cursor: pointer;
}

#G-lightbox-popup .lightbox-pic-view .lightbox-next-btn-show {
  background: url("../images/lightbox/icon/next.png") no-repeat right center;
  cursor: pointer;
}

#G-lightbox-popup .lightbox-pic-view .lightbox-image {
  display: block;
}

.lightbox-pic-caption {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0 5px;
  margin-top: -60px;
  z-index: 10003;

}

.lightbox-pic-caption .lightbox-caption-area {
  color: #fff;
  padding: 10px 5px;
}

.lightbox-pic-caption .lightbox-caption-area .lightbox-of-index {
  color: #999999;
}

.lightbox-pic-caption .lightbox-close-btn {
  position: absolute;
  width: 27px;
  height: 27px;
  background: url("../images/lightbox/icon/close.png") no-repeat;
  right: 10px;
  top: 13px;
  cursor: pointer;
}
ul{
  margin: 0 auto;
  overflow: hidden;
  width: 1000px;
}
ul li  {

  float: left;
  width: 150px;
  height: 150px;
  img{
    width: 100%;
    height: 100%;
  }
}

