body{background: url(../images/ticket/ticket-bg.png) no-repeat center top #b50117; background-size: cover;}
.content{ overflow: hidden;}
.main{ width: 1200px; margin: 30px auto 80px auto; padding: 60px 0; background: #ffffff; position: relative;}
.ticket-time{ position: absolute; left: 48px; top: 0; width: 133px; height: 106px; background: url(../images/ticket/ticket-time.png) no-repeat; background-size: cover;}
.ticket-time p{ font-size: 18px; color: #ffffff; padding-top: 52px; line-height: 36px; text-align: center; font-style:oblique;}
.box{ width: 700px; margin: 0 auto;}
.box h3{ font-size: 21px; color: #6d6d6d; font-weight: normal; text-align: center; line-height: 36px; padding-bottom: 40px;}
.box h3 strong{ font-weight: normal; color: #6d3885;}
.case{ width: 600px; padding: 6px; border: 1px solid #d2036e; margin: 0 auto; overflow: hidden; position: relative;}
.case .ticket img{ width: 100%; display: block;}
.case .nomore{ width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: rgba(90,37,114,0.59); background: #5a2572\9; filter:Alpha(opacity=59)\9; }
.case .nomore .logo{ background:url(../images/ticket/ticket-nomore.png) no-repeat center center; background-size: 40%; width: 100%; height: 100%; position: absolute; top: 0; left: 0;}
.btn{ width: 302px; font-size: 30px; margin: 0 auto; padding-top: 30px; text-align: center;}
.btn a{ width: 100%; line-height: 52px; display: block; color: #FFFFFF; text-decoration: none;}
.btn a.conduct{ background: #d92c2c;}/*立即抢购*/
.btn a.conduct:hover{background: #b02323;}
.btn a.cancel{ background:#898989;}/*取消*/
.countdown{ text-align: center; font-size: 19px; color: #595757; padding-top: 40px;}
.countdown strong{ font-size: 33px; }
.countdown.conduct strong{ color: #d92c2c;}/*立即抢购时间颜色*/
.countdown.cancel strong{ color: #898989;}/*取消时间颜色*/
/*弹出层*/
.ticket-pop{ display: none;}
.ticket-pop .mask{ position: fixed; top: 0; left: 0; bottom: 0; right: 0; background:rgba(0,0,0,0.8); z-index: 999; background: #000000\9; filter:Alpha(opacity=80)\9;}
.ticket-pop .dialog{ width: 468px;  padding: 56px 0; font-weight: normal; text-align: center; background: #ffffff; position: fixed; left: 50%; top: 30%; margin-left: -234px; z-index: 1000;}
.ticket-pop .dialog p{ line-height: 24px;  font-size: 24px; color: #6d3885;}
.ticket-pop .dialog span{ display: block;}
.ticket-pop .dialog ul{ width: 160px; margin: 0 auto; padding-top: 26px; padding-bottom: 38px;}
.ticket-pop .dialog ul li{ width: 7px; height: 25px; margin: 0 3px; background: #c3b0cb; float: left;}
.ticket-pop .dialog ul li.active{ background: #6d3885;}


@media screen and (max-width:1000px){
	body{background: url(../images/ticket/ticket-moble-bg.png) no-repeat center top #b50117; background-size: cover;}
	#header{ display:none;}
	.main{ width: 94%; padding-top: 78px;}
	.ticket-time{ left: 0; width: 90px; height: 72px;}
	.ticket-time p{ padding-top: 34px; font-size: 14px;}
	.box{ width: 94%;}
	.box h3{ position: relative;}
	.box h3 { font-size: 20px; line-height: 26px;}
	.box h3 strong{ position: absolute; left: 0;}
	.box h3 span{padding-left: 100px; display: block; text-align: left;}
	.case{ width: 90%;}
	.btn{ width: 80%;}
	.ticket-pop .dialog{ width: 60%; padding:30px 10%; margin-left: -40%;}
	.ticket-pop .dialog .sure{ width:80%;}
}