.header{height: 110px;border-bottom: 2px solid #6D3885;}
.wrap{padding-top: 40px;}
.wrap h1{float: left;}
.wrap .vip_font{font-size: 20px;border-left: 1px solid #dadada;float: left;margin-top: 25px;margin-left:20px;padding-left: 18px;}
.wrap .vip_iss{float: right;margin-top: 27px;font-size: 13px;}
.wrap .vip_iss a{color: #000;}
.wrap .vip_iss a:hover{color: #000;text-decoration: none;}
.wrap .vip_iss span.vip_iss_icon{}
.wrap .vip_iss span.vip_iss_icon a{display:inline-block;background: url(../images/vip/vip_iss.png) no-repeat;}
.wrap .vip_iss span.vip_iss_icon a.vip_iss_icon1{background-position:10px -7px;padding-left: 50px;}
.wrap .vip_iss span.vip_iss_icon a.vip_iss_icon2{background-position:10px -63px;padding-left: 43px;}
.wrap .vip_iss span.vip_iss_icon a.vip_iss_icon3{background-position:10px -36px;padding-left: 47px;}
.container .left{width: 152px;float: left;background-color: #815D91;padding-bottom: 110px;position:relative;}
/*向右三角*/
.container .left .facebg{height: 155px;background: url(../images/vip/vip_left_bg.png) no-repeat;position:relative;top:65px;}
.container .left .facebg .face{width:93px;height:93px;border-radius: 50%;margin:0 auto;margin-top: 15px;position:absolute;top:-61px;left:29px;}
.container .left .facebg p{color: #fff;font-size: 13px;width: 80px;margin: 0 auto;padding-top: 42px;}

.container .left .tabs{position: relative;}
.container .left .tabs div.vip_info{position: relative;z-index: 200;}
.container .left .tabs div.vip_info a{display:inline-block;width:152px;height: 60px;color: #fff;font-size: 15px;line-height: 60px;text-align: center;}
.container .left .tabs div.vip_info a:hover{text-decoration: none;}
.container .left .tabs i{display: inline-block;background: url(../images/vip/vip_left_icon.png) no-repeat;padding-right: 12px;}
.container .left .tabs i.vip_left_icon_1{background-position:-10px -139px;width: 19px;height: 22px;}
.container .left .tabs i.vip_left_icon_2{background-position:-10px -171px;width: 18px;height: 18px;}
.container .left .tabs i.vip_left_icon_3{background-position:-10px -107px;width: 21px;height: 22px;}
.container .left .tabs i.vip_left_icon_4{background-position:-10px -10px;width: 18px;height: 23px;}
.container .left .tabs i.vip_left_icon_5{background-position:-10px -75px;width: 21px;height: 22px;}
.container .left .tabs i.vip_left_icon_6{background-position:-10px -43px;width: 21px;height: 22px;}

.container .left .tabs .moving_bg{position:absolute;padding-right: 4px;z-index: 190;}
.container .left .tabs .moving_bg .moving_content{position:relative;}
.container .left .tabs .moving_bg .moving1{width: 152px;height: 60px;background-color:#6D457F;border-bottom: 1px solid #58306A;}
.container .left .tabs .moving_bg .moving2{display:inline-block;width:4px;height:60px;background-image:url(../images/vip/v_right.png);background-position:right center;background-repeat:no-repeat;margin-left: 100%;position:absolute;top:0;}































