$link-color: #FFF;
$link-color1: blue;
#content {
  article {
    h1 {
      color: #333
    }
    p {
      margin-bottom: 1.4em
    }
  }
  aside {
    background-color: #EEE
  }
  .kylin {
    color: $link-color
  }
}

article a {
  color: blue;
  :hover {
    color: $link-color1
  }
}

#f {
  margin: 0;
  padding: 0;
  #d{
    margin: 0;
    padding: 0;
  }
}
.d{
  padding: 0;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}