@import "../../zjwk/public/css/func";

.page {
  .head {
    position: relative;
    .headBg {
      img {
        width: 100%;
      }
    }
    .help {
      position: absolute;
      top: 12px;
      left: 12px;
      z-index: 1;
      text-align: center;
      color: #fff;
      font-size: 12px;
      span {
        width: 20px;
        display: inline-block;
        border: 1px solid #fff;
        border-radius: 50%;
      }
      p {

      }
    }
    .self {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      @include flexbox();
      @include align-items();
      @include justify-content();
      @include flex-column();
      text-align: center;

      p {
        color: #fff;

      }
      .headImg {

        img {
          width: 42px;
          height: 42px;
          border-radius: 50%;
          border: 1px solid #fff;
          max-width: 100%;
        }

      }
      .name {
        font-size: 12px;
      }
      .point {
        font-size: 14px;
      }
    }
  }
}

.weui_cells {
  margin-top: 0;
  .time {
    font-size: 14px;
  }
  .red {
    color: #f00b0d;
  }

}

.more {
  text-align: center;
  margin: 15px;
  font-size: 14px;
}

#full {
  .weui-popup-modal.weui-popup-modal-visible {
    background-color: rgba(0, 0, 0, 0.7);
  }
  .content {

    position: absolute;
    width: 65%;
    top: 50%;
    left: 50%;
    padding: 0px 20px;
    background: url("../img/index-bg.jpg") #ffe9b7 80%;
    @include transform(translate(-50%, -50%));
    .close {

      text-align: right;
      margin-right: -20px;
      a{
        display: inline-block;
        width: 30px;
        color: #0b0b0b;
        text-align: center;
      }
    }
    p {
      font-size: 13px;
      color: #676664;
      line-height: 1.6;
      padding-left: 10px;
      text-indent: -10px;
      &.bold {
        font-weight: 800;
      }
      &.tips {
        font-size: 12px;
        padding-bottom: 12px;
      }
    }

  }
}


