@import "func";

html {
  height: 100%;
}

body {
  background: url("../img/wibg.jpg") no-repeat;
  background-size: 100% 100%;
}

.logo {

  img {
    margin: 0 auto;
    display: block;
    width: 2.4rem;
    height: 1.65rem;
    margin-top: .5rem;
  }
}

.link {
  margin-top: .2rem;
  li {
    float: left;
    width: 50%;
    box-sizing: border-box;
    list-style: none;
    &:nth-child(odd) {
      text-align: right;
    }
    &:nth-child(even) {
      text-align: left;
    }
    img {
      display: inline-block;
      width: 3.36rem;
      height: 3.9rem;
    }
  }
}
