<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <!--测试阶段 清除微信缓存 每次都拉取新代码-->
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <title>指尖人脉</title>
    <link rel="stylesheet" href="../weiUI/dist/style/weui.css"/>
    <link rel="stylesheet" href="../public/css/base.css">
    <link rel="stylesheet" href="../public/css/icons.css">
    <link rel="stylesheet" href="css/contacts.css">
    <link rel="stylesheet" href="../public/css/poptips.css">

</head>
<body class="global">

<div class="page">

    <div class="hd">
        <p>我的人脉</p>

        <p v-text="jsonData.allCount+'人'"></p>
    </div>

    <div class="bd">

        <div class="tab">
            <div class="tab-title">
                <p>一级人脉 <span>(人脉数: <span v-text="jsonData.level_1.count"></span>)</span></p>
                <i class="ion-chevron-right"></i>
            </div>
            <div class="tab-content" id="scroll_1">

                <div class="weui_cells">

                    <div v-for="item in jsonData.level_1.list" class="weui_cell">
                        <div class="weui_cell_hd">
                            <img v-bind:src="item.imgUrl" alt=""></div>
                        <div class="weui_cell_bd weui_cell_primary">
                            <h5 v-text="item.name"></h5>

                            <p>
                                <span v-text="item.levelName"></span>
                                <span>人脉数:{{item.number}}</span>
                            </p>

                        </div>
                        <div class="weui_cell_ft"></div>
                    </div>

                </div>

                <p class="tc m15" v-show="showPage1"><a href="javascript:;" @click="getData('level_1')">加载更多数据…</a></p>
            </div>
        </div>
        <div class="tab">
            <div class="tab-title">
                <p>二级人脉 <span>(人脉数:<span v-text="jsonData.level_2.count"></span>)</span></p>
                <i class="ion-chevron-right"></i>
            </div>
            <div class="tab-content" id="scroll_2">
                <div class="weui_cells">
                    <div v-for="item in jsonData.level_2.list" class="weui_cell">
                        <div class="weui_cell_hd">
                            <img v-bind:src="item.imgUrl" alt=""></div>
                        <div class="weui_cell_bd weui_cell_primary">
                            <h5>{{item.name}}</h5>

                            <p>
                                <span>{{item.levelName}}</span>
                                <span>人脉数:{{item.number}}</span>
                            </p>

                        </div>
                        <div class="weui_cell_ft"></div>
                    </div>
                </div>

                <p class="tc m15" v-show="showPage2"><a href="javascript:;" @click="getData('level_2')">加载更多数据…</a></p>

            </div>
        </div>
        <div class="tab">
            <div class="tab-title">
                <p>三级人脉 <span>(人脉数:<span v-text="jsonData.level_3.count"></span>)</span></p>
                <i class="ion-chevron-right"></i>
            </div>
            <div class="tab-content" id="scroll_3">
                <div class="weui_cells">
                    <div v-for="item in jsonData.level_3.list" class="weui_cell">
                        <div class="weui_cell_hd">
                            <img v-bind:src="item.imgUrl" alt=""></div>
                        <div class="weui_cell_bd weui_cell_primary">
                            <h5>{{item.name}}</h5>

                            <p>
                                <span>{{item.levelName}}</span>
                                <span>人脉数:{{item.number}}</span>
                            </p>

                        </div>
                        <div class="weui_cell_ft"></div>
                    </div>
                </div>
                <p class="tc m15" v-show="showPage3"><a href="javascript:;" @click="getData('level_3')">加载更多数据…</a></p>
            </div>
        </div>
    </div>


</div>


<!-- loading toast -->
<div id="loadingToast" class="weui_loading_toast" style="display:none;">
    <div class="weui_mask_transparent"></div>
    <div class="weui_toast">
        <div class="weui_loading">
            <div class="weui_loading_leaf weui_loading_leaf_0"></div>
            <div class="weui_loading_leaf weui_loading_leaf_1"></div>
            <div class="weui_loading_leaf weui_loading_leaf_2"></div>
            <div class="weui_loading_leaf weui_loading_leaf_3"></div>
            <div class="weui_loading_leaf weui_loading_leaf_4"></div>
            <div class="weui_loading_leaf weui_loading_leaf_5"></div>
            <div class="weui_loading_leaf weui_loading_leaf_6"></div>
            <div class="weui_loading_leaf weui_loading_leaf_7"></div>
            <div class="weui_loading_leaf weui_loading_leaf_8"></div>
            <div class="weui_loading_leaf weui_loading_leaf_9"></div>
            <div class="weui_loading_leaf weui_loading_leaf_10"></div>
            <div class="weui_loading_leaf weui_loading_leaf_11"></div>
        </div>
        <p class="weui_toast_content">数据加载中</p>
    </div>
</div>
<script src="../zepto/zepto.js"></script>
<script src="../vue/vue.js"></script>


<!--<script src="js/jquery.js"></script>-->
<!--<script src="js/jquery.mobile.custom.min.js"></script>-->
<script src="../public/js/plugins.js"></script>


<script src="../xscroll/src/xscroll.js"></script>
<script src="js/view/contacts.js"></script>
</body>
</html>
