<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <!--测试阶段 清除微信缓存 每次都拉取新代码-->
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <title>个人资料</title>
    <link rel="stylesheet" href="../weiUI/dist/style/weui.css"/>
    <link rel="stylesheet" href="../public/css/base.css">
    <link rel="stylesheet" href="../public/css/icons.css">
    <link rel="stylesheet" href="css/userInfo.css">
    <link rel="stylesheet" href="../public/css/poptips.css">
    <script src="../mui/js/mui.js"></script>
    <script src="../mui/js/mui.picker.js"></script>
    <script src="../mui/js/mui.poppicker.js"></script>
    <script src="../mui/js/city.data.js"></script>
    <link rel="stylesheet" href="../mui/css/mui.picker.css">
    <link rel="stylesheet" href="../mui/css/mui.poppicker.css">
    <script src="../zepto/zepto.js"></script>
    <script src="../public/js/plugins.js"></script>
    <script src="../vue/vue.js"></script>
    <script src="../vue/vue-tap-click.js"></script>
    <script>

        var model = {

            openId: "123",
            userName: "刘德华",
            occupation: "",
            phoneNumber: "13800138000",
            // birthday: "2016-04-03",
            birthday: "",
            area: "",
            cender: "1"

        }

    </script>
</head>
<body class="global">
<div class="page">


    <div class="bd">
        <div class="weui_cells_title p10">个人资料</div>
        <div class="weui_cells weui_cells_form">
            <div class="weui_cell">
                <div class="weui_cell_hd"><label for="" class="weui_label"><span class="red">*</span>姓名 </label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" v-model="userName" type="text"
                           placeholder="请输入姓名">
                </div>
                <div class="weui_cell_ft">
                    <i class="weui_icon_warn"></i>
                </div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_hd"><label for="" class="weui_label"><span class="red">*</span>手机号码</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" type="number" v-model="phoneNumber"
                           placeholder="请输入手机号码">
                </div>
                <div class="weui_cell_ft">
                    <i class="weui_icon_warn"></i>
                </div>
            </div>
            <div class="weui_cell weui_cell_select" href="javascript:;">
                <div class="weui_cell_hd">
                    <label for="" class="weui_label"><span class="red">*</span>性别 </label>
                </div>
                <div class="weui_cell_bd weui_cell_primary">
                    <select class="weui_select" name="" v-model="cender">

                        <option value="">请选择</option>
                        <option value="1">男</option>
                        <option value="0">女</option>

                    </select>
                </div>
            </div>
            <div class="weui_cell weui_cell_select">
                <div class="weui_cell_hd"><label for="" class="weui_label"><span class="red">*</span>生日 </label></div>
                <div class="weui_cell_bd weui_cell_primary">


                    <input class="weui_input" v-model="birthday"
                           type="date">
                </div>

                <div class="weui_cell_ft">
                    <i class="weui_icon_warn"></i>
                </div>
            </div>
            <div class="weui_cell weui_cell_select" href="javascript:;" id="showCityPicker">
                <div class="weui_cell_hd">
                    <label for="" class="weui_label"><span class="red">*</span>地区 </label>
                </div>
                <div class="weui_cell_bd weui_cell_primary">
                    <span id="cityResult" v-text="area | areaCity"></span>
                    <input type="hidden" id="cityRusultValue" v-model="area">
                </div>
            </div>


            <div class="weui_cell weui_cell_select">
                <div class="weui_cell_hd">
                    <label for="" class="weui_label">职业 </label>
                </div>
                <div class="weui_cell_bd weui_cell_primary">
                    <select class="weui_select" name="" v-model="occupation">

                        <option value="">请选择</option>
                        <option value="1">农、林、牧、渔、水利业</option>
                        <option value="2">工业</option>
                        <option value="3">地质普查和勘探业</option>
                        <option value="4">建筑业</option>
                        <option value="5">交通运输业、邮电通信业</option>
                        <option value="6">商业、公共饮食业、物资供应和仓储业</option>
                        <option value="7">房地产管理、公用事业、居民服务和咨询服务业</option>
                        <option value="8">卫生、体育和社会福利事业</option>
                        <option value="9">教育、文化艺术和广播电视业</option>
                        <option value="10">科学研究和综合技术服务业</option>
                        <option value="11">金融、保险业</option>
                        <option value="12">国家机关、党政机关和社会团体</option>
                        <option value="13">其他行业</option>
                        <option value="13">其他行业</option>
                    </select>
                </div>
            </div>


        </div>

        <div class="weui_btn_area">
            <a class="weui_btn weui_btn_primary" href="javascript:;" v-tap="save">确定</a>
        </div>


    </div>


</div>


<script src="js/view/userInfo.js"></script>
</body>
</html>