/*******产品详情页*******/
@charset "utf-8";
.detail{ height: 515px; margin-top: 18px; margin-bottom: 15px;}
.products{ position: relative;}
/*产品描述左侧*/
.detail .left{ width: 623px; float: left;}
.detail .left .list{ width: 98px; height: 515px; overflow: hidden; position: relative; -moz-user-select: none;-webkit-user-select: none;-ms-user-select: none;}
.detail .left .list ul{ width: 100%; }
.detail .left .list ul li{ width: 98px; height: 98px; margin-bottom: 6px; cursor: pointer;}
.detail .left .list ul li img{ width: 98px; height: 98px; display: block;}
.detail .left .list .list-btn{width: 100%; height: 23px; background: url(../images/products-list.png) no-repeat; position: absolute; left: 0; cursor: pointer;}
.detail .left .list .list-btn.previous{ top: 0; background-position: 0 0;}
.detail .left .list .list-btn.previous:hover{ background-position: 0 -46px;}
.detail .left .list .list-btn.next{ bottom: 0; background-position: 0 -23px ;}
.detail .left .list .list-btn.next:hover{ background-position: 0 -69px;}
.detail .left .pic{ width: 515px; height: 515px; position: relative; overflow: hidden;}
.detail .left .pic li{ position: absolute; top: 0; left: 0;}
.detail .left .pic li:first-child{ z-index: 1;}
.detail .left .pic li img{ width: 515px; height: 515px;}
.detail .left .pic .p-pic{ background: url(../images/products-pic.png) no-repeat;}
.detail .left .pic .magnify{ width:28px ; height: 28px; background-position: 0 0; position: absolute; top: 8px; right: 8px; cursor: pointer; z-index: 99;}
.detail .left .pic .roast-wrap{ width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 100;}
.detail .left .pic .box{ position: absolute; z-index: 100;}
.detail .left .pic .roast{ background: #ffffff; max-width: 156px;  font-size: 14px; line-height: 18px; padding: 10px 18px; border-radius: 18px; position: relative; z-index: 102; -moz-box-shadow: 2px 2px 0px rgba(0,0,0,0.2); box-shadow: 2px 2px 0px  rgba(0,0,0,0.2);}
.detail .left .pic .r1{ top: 200px; left: 174px;}
.detail .left .pic .r2{ top: 245px; right: 30px;}
.detail .left .pic .r3{ top: 108px; left: 40px;}
.detail .left .pic .r4{ top: 96px; right: 100px;}
.detail .left .pic .r5{ top: 338px; left: 120px;}
.detail .left .pic .ico{ width: 20px; height: 20px; position: absolute; bottom: -4px; z-index:101;}
.detail .left .pic .ico-l{ left: 1px; background-position: 0 -77px;}
.detail .left .pic .ico-r{ right: -2px; background-position: -3px -41px;}
.detail .left .pic form{ position: absolute; bottom: 0; left: 10px; width: 494px; height: 30px; z-index:99;}
.detail .left .pic form .text{ width: 410px; height: 22px; line-height: 22px;  text-indent:1em; border: 0 none; outline:none;}
.detail .left .pic form .submit{ width: 52px; height: 22px; background: #c02125; border: 0 none; color: #ffffff; font-family: "microsoft yahei"; cursor: pointer; font-size: 13px; margin-left: 5px;}
.detail .left .pic form .close{ width: 22px; height: 22px; background-position: 0 -105px; cursor: pointer; position: absolute; top: 0; right: 0;}

/*产品弹出*/
.pop {display: none; }
.pop .mask{background: #000000; position: fixed; top: 0; left: 0; right: 0; bottom: 0; filter:alpha(opacity=80); -moz-opacity:0.8; -webkit-opacity: 0.8; -khtml-opacity: 0.8; opacity: 0.8; z-index: 999; }
.products-pop .wrap{position: fixed; top: 15%; left: 0; width: 100%; height: 70%; background: #ffffff; overflow: hidden; z-index: 1000; padding-bottom: 45px;}
.products-pop .wrap ul{ width: 100000px; position: relative; height: 100%;}
.products-pop .wrap ul li{ float: left; position: relative; height: 100%; padding:10px 10px 0; border-left:1px solid #efeeee ;}
.products-pop .wrap ul li img{ width: 100%;}
.products-pop .btn-bg{ background: url(../images/products-pop.png) no-repeat;}
.products-pop .close{ width: 38px; height: 38px; position: fixed; top: 5px; right: 5px; background-position:0 0; z-index: 1000; cursor: pointer;}
.products-pop .close:hover{ background-position:0 -38px;}
.products-pop .console{ height: 30px; position: fixed; bottom: 15px; left: 50%; margin-left: -300px; z-index: 1000;}
.products-pop .console ul{ float: left; margin-left:2px;}
.products-pop .console li,.products-pop .console p{ float: left;cursor: pointer;}
.products-pop .console li span{  width: 30px; height: 30px; line-height: 30px; text-align: center; display: block; color: #ffffff; background: url(../images/products-pop.png) no-repeat; background-position: 0 -256px; }
.products-pop .console li span:hover{ color: #99cc33;}
.products-pop .console li.active span{color: #99cc33;}
.products-pop .console .btn{ width: 104px; height: 30px; margin-left:2px;}
.products-pop .previous{ background-position: 0 -76px;}
.products-pop .previous:hover{ background-position: 0 -106px;}
.products-pop .next{  background-position: 0 -136px;}
.products-pop .next:hover{ background-position: 0 -166px;}
.products-pop .return{ background-position: 0 -196px;}
.products-pop .return:hover{ background-position: 0 -226px;}
.products-pop .nopic{ background: #bdbcbc; color: #ffffff;}

/*收藏关注对话框弹出*/
.dialog .wrap { width: 468px; height: 244px; background: #FFFFFF; position: fixed; left: 50%; margin-left: -234px; top: 35%; z-index: 1000; overflow: hidden;}
.dialog .wrap p{ text-align: center; padding-top: 54px;}
.dialog .wrap p span{ padding:10px 0 10px 50px; background: url(../images/p-dialog.png) no-repeat;  line-height: 30px; font-size: 18px; color: #7b7b7b; background-position: 0px 8px;}
.dialog .wrap .link{ color: #6d3885; padding-left: 176px;}
.dialog .sure{ width: 120px; line-height: 42px; margin: 0 auto; margin-top: 50px; cursor: pointer; display: block; background: #99cc33; color: #ffffff; text-align: center; font-size: 16px; text-decoration: none;}

 /*产品描述右侧*/
.detail .right{ width: 563px; float: right;}
.border-bottom{ border-bottom: 1px dotted #ddd;}
.detail .title{ height: 63px;}
.detail .title h4{ line-height: 28px;}
.detail .title span{ color: #e4393c;}
.detail .parameter{ height: 153px;}
.detail .parameter .wrap{line-height: 19px; font-size: 14px; color: #999999;}
.detail .parameter p{ float: left; width: 70px;}
.detail .parameter span{color: #595757; }
/*价格*/
.detail .price{ padding-top: 21px; height: 42px;}
.detail .price span{ font-size: 16px;}
.detail .price strong{width: 102px; height: 19px; line-height: 19px; background: #dd1f2e; color: #ffffff; font-size: 13px; font-weight: normal; text-align: center; display: inline-block; margin-left: 8px;}
/*店面*/
.detail .parameter .shop,.detail .parameter .shop p{ height: 62px;}
.detail .parameter .shop span{float:left; padding-right: 24px; position: relative; cursor: pointer; margin-bottom: 8px; z-index: 0;}
.detail .parameter .shop span i{ position: absolute; top:8px; right: 12px;}
.detail .parameter .shop .info{width: 178px; padding:10px 12px; font-size: 12px; position: absolute; top: 24px; left: 0px; background:rgba(255,255,255,0.88); _background:#ffffff; *background:#ffffff; background:#ffffff\9;  border: 1px solid #d1d1d1; z-index: 1; display: none;}
.detail .parameter .shop .info .info-top{width: 19px; height: 7px; position: absolute; top: -7px; left: 22px; background: url(../images/info-icon.png) no-repeat; }
.detail .parameter .shop .info .cont{ overflow: hidden; padding-top: 10px;}
.detail .parameter .shop .info em{ float: left; font-style: normal; padding-left: 15px; background: url(../images/info-icon.png) no-repeat;}
.detail .parameter .shop .info .icon1{ background-position: -3px -14px;}
.detail .parameter .shop .info .icon2{ background-position: -3px -35px;}
.detail .parameter .shop .info .icon3{ background-position: -4px -51px;}
.detail .parameter .shop .info p{ width: 100px; height: auto;}
/*售出*/
.detail .parameter .sold{ height: 23px;}
/*私有特性*/
.detail .private{ height: 124px; margin-top: 14px; padding-bottom: 14px; background: url(../images/detail-bg.png) no-repeat; overflow: hidden;}
.detail .private .logo{ width: 143px; padding: 31px 0 0 34px;}
.detail .private .logo img{ width: 143px; height: 57px;}
.detail .private .logo a{ color: #c02125; font-size: 13px; text-decoration: underline; text-align: center; padding-left: 17px; background: url(../images/detail-icon.png) no-repeat; background-position: 0px 5px; margin-left: 28px;}
.detail .private .data{ font-size: 13px; color: #999999; line-height: 28px; margin-top: 24px; margin-left: 40px;}
.detail .private .data strong{ color: #d63b3f; padding: 0 5px;} 
/*长期广告*/
.detail .ad{ padding: 20px 0 0 48px; height: 70px;}
.detail .ad a{ padding: 0 6px;}

/*按钮组*/
.detail .btn-group{ height: 46px; padding-left: 63px;}
.detail .btn-group a{ display: block; font-size: 15px; height: 44px; line-height: 44px; text-decoration: none; text-align: center; float: left; margin: 0 7px; }
.detail .btn-group .btn1{ width: 170px; background: #69247d; border:1px solid #69247d ; color: #ffffff;}
.detail .btn-group .btn1:hover{ background: #6d3885; border:1px solid #6d3885 ;}
.detail .btn-group .btn{ width: 117px; border:1px solid #c9c9c9 ; background: #ffffff; color: #69247d;}
.detail .btn-group a span{ background: url(../images/detail-icon.png) no-repeat; padding-left: 26px;}
.detail .btn-group .btn1 span{ background-position:0 -30px;}
.detail .btn-group .btn2 span{ background-position:0 -71px;}
.detail .btn-group .btn3 span{ background-position:0 -114px;}

/*产品详细介绍导航*/
.introduce{ width: 920px;}
.introduce .nav{ width: 920px; height: 38px; background: #ffffff; border: 1px solid #dedede; position: relative;}
.introduce .nav.fixed{ position: fixed; top: 0;}
.introduce .nav ul li{ width: 164px; height: 38px; line-height: 38px; font-size: 13px;float: left; border-right:1px solid #dedede; text-align: center;}
.introduce .nav ul li a{color: #666666; text-decoration: none; display: block; width: 100%;}
.introduce .nav ul li span{ color: #c02125; padding: 0 3px;}
.introduce .nav ul li.active{background: #783a8a;}
.introduce .nav ul li.active a{ color: #FFFFFF;}
.introduce .nav ul li.active span{ color: #FFFFFF;}

/*吐槽*/
.introduce .roast{ background: #f2f2f2; margin-bottom: 30px; padding: 18px 12px 10px 12px; overflow: hidden; _zoom:1; display: none;}
.introduce .roast ul{  overflow: hidden;}
.introduce .roast li{ height: 28px; line-height: 28px; float: left; white-space: nowrap; margin-right: 3px; margin-bottom: 3px; padding: 0 12px; color: #ffffff; cursor: pointer; background: #b5b5b4;}
.introduce .roast li:hover{ background: #ffffff; color: #203902;}
.introduce .roast li.active{ visibility: hidden;}
.introduce .roast li.color1{ background: #99cc33;}
.introduce .roast li.color2{ background: #a2d046;}
.introduce .roast li.color3{ background: #abd459;}
.introduce .roast li.color4{ background: #bde56f;}
.introduce .roast form{ float: right; padding-top: 6px;}
.introduce .roast form .text{ width: 311px; height: 21px; line-height: 21px; text-indent: 1em; background: transparent; outline: none; border: 1px solid #bfa6c7;}
.introduce .roast form .submit{ width: 86px; height: 23px; background: #c02125; border: 0 none; cursor: pointer; color: #ffffff; font-family:"microsoft yahei";}
/*产品详情参数*/
.introduce .title{ width: 830px; height: 34px; line-height: 34px; margin: 0 auto;}
.introduce .title h4{ color: #666666; float: left; margin-left: 15px; font-size: 13px; font-weight: normal; }
.introduce .title span{ color: #9d9d9d; float: right; margin-right: 15px; font-size: 13px;}
.introduce .parameter{ margin-top: 18px;}
.introduce .parameter ul{ width: 800px; margin: 0 auto; color: #666666; padding: 5px 0 20px 0;  overflow: hidden;}
.introduce .parameter ul li{ width: 215px; line-height: 30px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;  float: left; margin-right: 18px;}

/*产品细节图*/
.introduce .info{padding-top:24px ; padding-bottom: 48px;}
.introduce .info img{ display: block; width: 700px; margin: 0 auto; padding-top:40px ;}

/*基友留言*/
.introduce .message{ padding-top: 18px;  border-top: 2px solid #69247d; background: #f4eef6;}
.introduce .message ul{ width: 830px; margin: 0 auto;}
.introduce .message li{ border-top: 1px solid #dbccdf ;  padding: 15px 0; overflow: hidden;}
.introduce .message .wrap{ width: 800px; margin: 0 auto; font-size: 13px; line-height: 18px;}
.introduce .message .user{ width: 100%; overflow: hidden; margin-bottom: 8px;}
.introduce .message .user strong{ float: left; font-weight: normal; color: #c02125; width: 92px; text-align: right; overflow: hidden;overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.introduce .message .user p{ float: right; width: 708px;}
.introduce .message .time{ color: #9d9d9d; float: left;}
.introduce .message .interact{ float: right; margin-right: 38px;}
.introduce .message .interact .zan{ padding-left: 18px; background: url(../images/message-icon.png) no-repeat; background-position: 0 2px; cursor: pointer;}
.introduce .message .form{ width: 100%; border-top:10px solid #ffffff; font-size: 13px; line-height: 28px; color: #666666;}
.introduce .message .form form{ padding: 28px 0 33px 75px;}
.introduce .message .form .box{ margin-top: 14px; overflow: hidden; _zoom:1;}
.introduce .message .form span{ display: block; width: 60px; height: 28px; float: left;}
.introduce .message .form .check{ float: left;}
.introduce .message .form .check label{ padding-right: 10px;}
.introduce .message .form .check i{ padding-left: 5px; font-style: normal;}
.introduce .message .form textarea{ width: 490px; height: 56px; resize: none; padding: 5px; float: left;}
.introduce .message .form .text{ width: 70px; height: 26px; line-height: 26px; outline: none; float: left; text-indent: 4px;}
.introduce .message .form .yzm{ width: 72px; height: 28px; float: left; margin-left: 14px; cursor: pointer;}
.introduce .message .form .yzm img{ width: 72px; height: 28px;}
.introduce .message .form .submit{ width: 130px; height: 34px; margin-left: 60px; background: #69247d; border-radius: 4px; border: 0 none; color: #ffffff; font-size: 13px; font-family: "microsoft yahei"; cursor: pointer; float: left;}
.introduce .message .form .hidename{ float: left; text-decoration: none; line-height: 34px; color: #666666; margin-left: 34px;}



/*同类推荐*/
.similar{ width: 263px; padding-bottom: 20px; border: 1px solid #d5d4d4;}
.similar .tab ul{}
.similar .tab li{width: 87px; height: 35px; line-height: 35px; font-size: 13px; color: #595757; text-align: center; float: left; border-left:1px solid #d5d4d4 ;border-bottom: 1px solid #d4d4d4;  cursor: pointer;}
.similar .tab li.active{ background: #ffffff; color: #99cc33; border-top: 2px solid #99cc33; position: relative; top: -1px; border-bottom: none;}
.similar .tab li:first-child{ border-left: none;}
.similar .cont{ width: 210px; margin: 0 auto; display:none;}
.similar .cont.active{ display: block;}
.similar .cont li{ width: 210px; height: 210px; position: relative; margin-top: 22px;}
.similar .cont li img{ width: 210px; height: 210px;}
.similar .cont .logo{ width:80px; height: 32px; position: absolute; left: 0; top: 15px; z-index: 2;}
.similar .cont .logo img{ width: 80px; height: 32px;}
.similar .cont .info{ width: 100%; height: 42px; text-align: center; background: rgba(255,255,255,0.7); _background:url(../images/transparent.png) repeat; *background:url(../images/transparent.png) repeat; background:url(../images/transparent.png) repeat\9; position: absolute; left: 0; bottom: 0; z-index: 2; }
.similar .cont .info h4{ font-size: 14px; line-height: 20px; margin-top: 4px; width: 100%; font-weight: normal; overflow: hidden; white-space: nowrap;  text-overflow: ellipsis;}
.similar .cont .info p{ font-size: 12px; color: #69247d; line-height: 14px;}
.similar.fixed{ position: fixed; bottom: 0;}
/*模糊*/
/*.blur { -webkit-filter: blur(2px);-moz-filter: blur(2px);-o-filter: blur(2px);-ms-filter: blur(2px);filter: blur(2px);filter: progid:DXImageTransform.Microsoft.Blur(pixelradius=8);}*/
/*右浮动*/
.fixed-fload{ position: fixed; width: 50px; right: 30px; bottom: 50px;}
.fixed-fload .box{ width: 48px; border: 1px solid #99cc33; font-size:12px; background: #99CC33;}
.fixed-fload .box p{ width: 40px; margin: 9px auto; color: #ffffff; line-height: 14px; text-align: center;}
.fixed-fload .box a{ width: 43px; height: 16px; line-height: 16px; background: #ffffff; text-align: center; color: #99CC33; margin: 0 auto; margin-bottom: 6px; display:block; text-decoration: none;}
.fixed-fload .up{ width: 48px; height: 57px; border:1px solid #e2e2e2; background: url(../images/user/favorite-up.png) no-repeat center center; margin-top: 2px;}


/*弹框*/
.prompt{ display: none;}
.prompt .mask{ position: fixed; top: 0; left: 0; bottom: 0; right: 0; background:rgba(0,0,0,0.8); z-index: 999; background: #000000\9; filter:Alpha(opacity=80)\9;}
.prompt .dialog{ width: 388px; padding: 30px 40px 56px 40px; font-weight: normal;  background: #ffffff; position: fixed; left: 50%; top: 30%; margin-left: -234px; z-index: 1000;}
.prompt .dialog p{ line-height: 24px; padding:36px 0; text-align: center;}
.prompt .dialog p.success{ font-size:24px; color: #6d3885;}
.prompt .dialog p.failure{ font-size: 18px; color: #7b7b7b;}
.prompt .dialog .sure{ width: 120px; line-height: 42px; margin: 0 auto; display: block; background: #99cc33; color: #ffffff; text-align: center; font-size: 16px; text-decoration: none;}

















