/*头部*/
#header{ position: relative; z-index: 100;}
#header .box{ padding-top: 13px; padding-bottom: 17px; line-height: 30px; position: relative;}
#header a{color: #464646; text-decoration: none; font-size: 14px;}
#header a:hover{ color: #6d3885;}
#header .box h1{ margin: 0;}
#header .members{ width: 236px; height: 30px; font-family: simsun; color: #5c5c5c; position: absolute; left: 290px; top: 27px;}
#header .members span{ padding-right: 15px; color: #dadada;}
#header .members strong{ font-weight: normal; padding: 0 19px;}
#header .members a{ color: #c02125; font-size: 12px;}
#header .manage{ width: 250px; font-size: 14px; position: absolute; top: 17px; left: 526px;}
#header .manage .bg{ background: url(../images/user/manage-bg.png) no-repeat;}
#header .manage .bg.icon1{ background-position: 84px 12px;}
#header .manage .bg.icon2{background-position: 84px -14px;}
#header .manage .bg.icon3{background-position: 10px -47px;}
#header .manage .first{  float: left; padding-right: 15px; padding-top: 10px; }
#header .manage dl{ float: left; position: relative; width: 98px; text-align: center; padding-top: 5px; position: relative; top: 5px;}
#header .manage .active{ color:#ffffff;background: rgba(146,118,159,0.95); _background:#92769f; *background:#92769f; background:#92769f\9;}
#header .manage dl dt{ cursor: pointer;}
#header .manage dl dd{ width: 98px; position: absolute; top: 35px; left: 0; text-align: center; font-size: 12px; padding-bottom: 10px; display: none;}
#header .manage dl dd a{font-size: 12px; color: #ffffff; display: block; line-height: 24px;}
#header .seach{ width: 271px; height: 28px; border: 1px solid #6d3885; position: absolute; top: 27px; left: 775px; }
#header .seach .text{ width:219px ; height: 28px; line-height: 28px; text-indent: 1em; border: 0 none; outline:none; float: left;}
#header .seach .sunmit{ width: 52px; height: 28px;}
#header .home{ position: absolute; top: 27px; right: 55px;}


.user{ padding-top: 40px;}
/*左侧导航*/
.user-nav{ width: 222px; background: #f1f1f1; overflow: hidden;}
.user-nav dl{ background: #b3b2b1; color: #6d3885;}
.user-nav dl a{ color:#6d3885; display: block; text-decoration: none;}
.user-nav dl dt,.user-nav dl dd{border-bottom: 1px solid rgba(134,133,131,0.24); _border-bottom:1px solid #868583; *border-bottom:1px solid #868583; border-bottom:1px solid #868583\9;}
.user-nav dl dt{ height: 54px;  line-height:54px; overflow: hidden;}
.user-nav dl dt span{ width: 54px; height: 54px; display: block; float: left; background:url(../images/user/user-nav.png) no-repeat;}
.user-nav dl dt span.icon1{ background-position: 10px 15px;}
.user-nav dl dt span.icon2{ background-position: 10px -64px;}
.user-nav dl dt span.icon3{ background-position: 10px -143px;}
.user-nav dl dt span.icon4{ background-position: 10px -226px;}
.user-nav dl dt span.icon5{ background-position: 10px -306px;}
.user-nav dl dt span.icon6{ background-position: 10px -388px;}
.user-nav dl dt span.icon7{ background-position: 10px -467px;}
.user-nav dl dt span.icon8{ background-position: 10px -546px;}
.user-nav dl p{ width: 168px; float: right; background: #f1f1f1;}
.user-nav dl dt p strong{ font-size: 13px; padding-left: 20px;}
.user-nav dl dd p a{line-height: 24px;  margin-top: 8px; }
.user-nav dl dd p a span{padding-left: 27px;  background:url(../images/user/user-nav.png) no-repeat; background-position: 5px -636px; }
.user-nav dl dd p a:hover,.user-nav dl dt p:hover{ background: #e5e5e5;}
.user-nav dl .active{ background: #e5e5e5;}
.user-nav dl dd{ overflow: hidden; display: none;}
.user-nav dl dd.show{ display: block;}


/*右侧内容*/
.wrap{ width: 978px;}
.main{ width: 898px; margin: 0 auto;}
.user-info{overflow: hidden; padding-bottom: 25px;}
.user-info .photo{ width: 138px; height: 138px; border: 1px solid #c5b6cc; background: #FFFFFF; position: relative;}
.user-info .photo img{ width: 138px; height: 138px; display: block;}
.user-info .photo a{ width: 72px; height: 24px; line-height: 24px; display: block; text-align: center; color: #ffffff; background: #92769f; position: absolute; bottom: -1px; right: -11px;}
.user-info .name{ width: 270px; height: 140px; padding-left: 36px; background: #f1f1f1; margin-left: 15px; position: relative;}
.user-info .name h3{ font-size: 27px; line-height: 40px; font-weight: normal; padding-top: 15px; padding-bottom: 10px;}
.user-info .name p{ font-size: 14px; color: #989898; line-height: 26px;}
.user-info .name p strong{ color: #c02125; padding-right: 15px; font-weight: normal;}
/*.user-info .name p a{background: #e1f1c2; border: 1px solid #9ece3e; font-size: 12px; color: #5a7b17; text-decoration: none; padding: 3px 12px;}
.user-info .name p a:hover{ color: #456505;}*/
.user-info .name p a{background: #99CC33; border: 1px solid #99CC33; font-size: 12px; color: #ffffff; text-decoration: none; padding: 3px 12px;}
.user-info .name .data{width: 100%; height: 37px; line-height: 37px; font-size: 14px; position: absolute; left: 0; bottom: 0; background: #e3e3e3; }
.user-info .name .data span{ padding-left: 24px;}
.user-info .name .data span strong{ color: #c02125; padding-left: 10px; font-weight: normal;}
.user-data { width: 432px; height: 140px; overflow: hidden; margin-left: 5px;}
.user-data ul li{ width: 205px; height: 65px; line-height: 64px; float: left; margin-left: 10px; margin-bottom: 10px;}
.user-data ul li.bgcolor1{ background: #dfeef8;}
.user-data ul li.bgcolor2{ background: #f2e2f0;}
.user-data ul li.bgcolor3{ background: #f8e5d4;}
.user-data ul li.bgcolor4{ background: #e8f6ec;}
.user-data ul li a{ text-decoration: none;}
.user-data ul li p{ width: 75px; font-size: 16px; color:#000000; padding-left: 68px; background: url(../images/user/user-data.png) no-repeat; float: left;}
.user-data ul li strong{ font-size: 25px; color: #c02125;font-weight: normal; float: left;}
.user-data ul li p.icon1{background-position: 24px 20px;}
.user-data ul li p.icon2{background-position: 24px -81px;}
.user-data ul li p.icon3{background-position: 24px -185px;}
.user-data ul li p.icon4{background-position: 26px -292px;}
.user-title{height:40px ; padding-left: 11px; overflow: hidden;}
.user-title.bgcolor1{background: #a0cdeb;}
.user-title.bgcolor2{background: #95d6a5;}
.user-title.bgcolor3{background: #cbaf96;}
.user-title.bgcolor4{background: #f69995;}
.user-title.bgcolor5{background: #bdbde2;}
.user-title.bgcolor6{background: #f7b29a;}
.user-title span{ font-size: 18px;  line-height: 40px; color: #ffffff;}
.user-title span i{ font-style:normal; font-size: 13px;}
.user-title a{font-size:13px; color: #575757; font-family: simsun; background: #ffffff; padding: 2px 8px; margin-top: 8px; margin-right: 8px; text-decoration: none; }
.user-title a:hover{ color: #6d3885;}
/*关注的活动*/
.activity{ width: 622px;}
.zt-list{ height: 301px; padding-top:0px; padding-bottom: 0px; background: #f1f1f1; overflow: hidden;}
.zt-list ul{ margin-left: 0px;}
.zt-list ul li{ margin-top: 16px; background: #ffffff;}
/*日历*/
.calendar{ width: 262px;}
.calendar .box{ height: 301px; background: #e7f3e9;}
.calendar .box h3{font-size: 12px;  padding-left: 8px; font-weight: normal; overflow: hidden; text-align: center; padding-top: 10px;}
.calendar .box h3 span{ width:34px; line-height: 24px; display: block; float: left;}
.calendar .box ul{padding-left: 7px;}
.calendar .box li{ width: 28px; height: 39px; padding-left: 6px; background: #c8e3cf; float: left; margin-left: 1px; margin-top: 1px; position: relative;}
/*日历活动内容弹出*/
.calendar .box li .info{ width: 170px;  position: absolute; top: 40px; left: -42px; z-index: 999; display: none;}
.calendar .box li .info .top{background: url(../images/user/calendar-bg.png) no-repeat; width: 170px; height: 6px;}
.calendar .box li .info .cont{width: 168px; border: 1px solid #93b59b; padding-bottom: 10px; border-top:none ; background:rgba(255,255,255,0.85); filter:Alpha(opacity=85)\9; background:#ffffff\9;}
.calendar .box li .info .cont dl{ overflow: hidden; padding-top: 10px;}
.calendar .box li .info .cont dt{ width: 36px; height: 12px; margin-top:3px; float: left; background: url(../images/user/calendar-bg.png) no-repeat;}
.calendar .box li .info .cont dt.overdue{ background-position: 0 -21px;}
.calendar .box li .info .cont dt.star{background-position: 0 -65px}
.calendar .box li .info .cont dt.nostar{background-position: 0 -108px}
.calendar .box li .info .cont dd{ width: 120px; float: right;}
.calendar .box li .info .cont dd a{line-height: 16px;}
.calendar .box li .info .cont dd a.overdue{color: #717171;}
.calendar .box li .info .cont dd a.star{color: #e1482a;}
.calendar .box li .info .cont dd a.nostar{color: #37ab80;}

.calendar .box .normal{color: #909090;}
.calendar .box .overdue{ background: #b0b0b0; cursor: pointer;}/*已过期*/ 
.calendar .box .star{ background: #f27860; cursor: pointer;}/*进行中*/ 
.calendar .box .nostar{ background: #79cfb0; cursor: pointer;}/*未开始*/ 
.calendar .box .prompt {float: right; margin-right: 8px; padding-top: 6px;}
.calendar .box .prompt span{ width: 13px; height: 13px; display: block; float: left; margin-left: 10px; -moz-border-radius: 50%; -webkit-border-radius: 50%;border-radius:50%;}


/*产品相关*/
.module{ margin-top: 22px; overflow: hidden;}
.case{ padding-top: 17px; padding-bottom: 37px; margin-top: 8px; background: #f6f2f7; overflow: hidden;}
.case ul li{ float: left; border-right:1px solid #e7e4e8 ;}
.case ul li p{ color: #000000; font-size: 14px;}
.case ul li p:hover{color: #6d3885;}
.case ul li span{ font-size: 12px; font-family: simsun; color: #989898;}
.case ul li strong{ color: #c02125; font-weight: normal;}
.case ul li a{text-decoration: none;}
.case.products ul{ margin-left: 3px;}
.case.products li{ width: 120px; height: 170px; padding: 3px 14px;}
.case .no-border{ border: none;}
.case.products li img{ width: 120px; height: 120px;}
.case.products li .close{ width: 23px; height: 23px; background: url(../images/user/close.png) no-repeat; cursor: pointer; position: absolute; top: -10px; right: 3px;}
.case.logo ul{ width: 10000px;}
.case.logo li{width: 189px; height: 133px; padding: 8px 18px;}
.case.logo li img{ width: 189px; height: 85px;}
.case.logo .btn{ width: 41px; height: 100%; position: absolute; top: 0; background: url(../images/user/btn-logo.png) no-repeat ; cursor: pointer;}
.case.logo .btn.previous{left: 0; background-position: 0px 0px;}
.case.logo .btn.previous:hover,.case.logo .btn.previous.active{ background-position: -41px 0px;}
.case.logo .btn.next{ right: 0; background-position: 0px -206px;}
.case.logo .btn.next:hover,.case.logo .btn.next.active{ right: 0; background-position: -41px -206px;}
#historyBox .relative div {
    -webkit-transition: all .3s ease-in .5s;
    -moz-transition: all .3s ease-in .5s;
    -ms-transition: all .3s ease-in .5s;
    -o-transition: all .3s ease-in .5s;
    transition: all .3s ease-in .5s;
}
#historyBox .relative div.close {opacity: 0;}
#historyBox li:hover .close {opacity: 1;}

/*子页面*/
#user-index h2{ font-size: 22px; font-weight: normal;}
/*我的优惠券*/
.user-t{ height: 32px; border-bottom: 2px solid #f1f1f1; margin-top: 9px;}
.coupon-seach form{ float: right; margin-bottom: 5px;}
.coupon-seach input{ float: left;}
.coupon-seach .text{ width: 168px; height: 23px; border: 1px solid #dedede; text-indent: 5px;}
.coupon-seach .submit{ width: 52px; height: 25px; border: 1px solid #dedede; border-left:none ; background: url(../images/user/coupon-glass.png) no-repeat;}
.user-sort li{ border-bottom: 1px solid #f1f1f1; padding: 9px 0; overflow: hidden;}
.user-sort li p{ float: left;  color: #7c4c91;line-height: 16px; padding-right: 30px;}
.user-sort li .box{ width: 820px; float: left; overflow: hidden;}
.user-sort li a{ line-height: 16px; padding:0 9px; color: #000000; display: block; text-decoration: none; margin-right: 25px; float: left; margin-bottom: 5px; }
.user-sort li a:hover{background: #99cc33; color: #ffffff;}
.user-sort li a.active{background: #99cc33; color: #ffffff;}
.user-sort li a .brand{ background:#efeff0; border: 1px solid #99CC33; position: absolute; top: 16px; left: 0; width: 100px; height: 100px; overflow: hidden; z-index: 99;}



.coupon-list{ margin-top: 26px;}
.coupon-list ul{margin-left: -28px; overflow: hidden;}
.coupon-list li{ width: 280px; margin-left: 28px; margin-bottom: 30px; position: relative; float: left;}
.coupon-list li .img{ width: 280px; height: 140px; display: block;}
.coupon-list li .bgimg{ background: url(../images/user/coupon-bg.png) no-repeat;}
.coupon-list li .state{ width: 62px; height: 24px; position: absolute; top: 5px; right: -4px;}
.coupon-list li .state span{ padding-left: 5px; color: #ffffff;}
.coupon-list li .box{ width: 260px; height: 34px; padding: 12px 9px; border: 1px solid #d7d7d7; border-top:none ; color: #666666; line-height: 18px; position: relative;}
.coupon-list li .box a{ width: 18px; height: 18px; display: block; background-position:0 bottom ; position: absolute; right: 10px; bottom: 10px; }

.focused-title{ font-size: 16px; color: #7c4c91; line-height: 28px; border-bottom: 1px solid #c9cacb; margin-top: 20px;}
.focused{ padding-bottom: 50px;}
.focused .zt-list{ height: auto; background: none;}
.focused .zt-list ul{ margin-left: -2px;}
.focused .zt-list ul li{ margin-left: 10px;}
.focused .user-sort li{ border: none;}
.focused-tab{ width: 100%; border: 1px solid #e6e6e6; margin-top: 10px; border-collapse: collapse;}
.focused-tab th{ background: #efeff0; height: 48px; line-height: 48px; text-align: left;}
.focused-tab th input{ margin:0 18px;}
.focused-tab th a{ text-decoration: none; padding-left: 38px;}
.focused-tab th span{ color: #595757;}
.focused-tab td{border: 1px solid #e6e6e6; position: relative;}
.focused-tab tr td:first-child{ width: 195px; height: 198px;}
.focused-tab tr td .check{ position: absolute; top: 24px; left: 17px;}
.focused-tab .goods{ width: 100px; margin: 0 auto; padding-top: 40px; text-align: center; color: #595757; line-height: 18px;}
.focused-tab .goods p{overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.focused-tab .goods img{ width: 98px; height: 98px; border:1px solid #595757;}
.focused-tab .goods span{ color: #989898; font-size: 10px; font-family: simsun;}
.focused-tab .goods span strong{ color: #99cc33; font-weight: normal;}
.focused-tab .goodstab{ width: 670px; height: 180px;position: absolute; top: 17px; left: 22px; overflow: hidden; }
.focused-tab .goodstab ul{overflow: hidden;}
.focused-tab .goodstab li{ width: 96px; height: 28px; line-height: 28px; font-size: 14px; text-align: center; color: #9fa0a0; float: left; border:1px solid #dddddd ; cursor: pointer;}
.focused-tab .goodstab li.active{ background: #6d3885; color: #ffffff;border:1px solid #6d3885 ; }
.focused-tab .goodstab .box{ width:670px ; height: 150px;}
.focused-tab .goodstab .box h4{ line-height: 150px; font-size: 26px; color: #898989; text-align: center; font-weight: normal;}
.focused-tab .goodstab .box .activity{ width: 210px; height: 122px; position: relative; margin-top: 15px; margin-right: 10px; float: left;}
.focused-tab .goodstab .box .activity img{ width: 210px; height: 122px; }
.focused-tab .goodstab .box .activity .state{ width: 62px; height: 24px; position: absolute; top: 5px; right: -4px;background: url(../images/user/coupon-bg.png) no-repeat;}
.focused-tab .goodstab .box .activity .state span{padding-left: 5px; color: #ffffff;}
.focused-tab .goodstab .place{ height: 32px; font-size: 13px; line-height: 16px; margin-top: 10px; overflow: hidden; color: #595757;}
.focused-tab .goodstab .place strong{float: left;}
.focused-tab .goodstab .place p{ width: 600px; float: left;}
.focused-tab .goodstab .place p span{ padding-right: 19px; display: block; float: left;}
.focused-tab .goodstab .data{ color: #999999; font-size: 13px; line-height: 26px; float: left; padding-right: 38px; padding-top: 10px;}
.focused-tab .goodstab .data span{ display: block;}
.focused-tab .goodstab .data span strong{font-weight: normal; color: #d63b3f; padding: 0 3px;}

/*浏览历史*/
.history .user-t{font-size: 18px; margin-top: 24px; }
.user-t p{ float: left; position:relative; top: 0px; line-height: 32px; padding: 0 15px; cursor: pointer;}
.user-t p.active{border-bottom: 2px solid #6d3885; }
.user-t span{ float: left; color: #f1f1f1; position: relative; top: 6px;}
.history .time{margin-top: 10px;}
.history .time ul{ width: 880px; border-left:1px solid #dad7d7 ; margin-left: 14px; overflow: hidden; padding-bottom:23px ;}
.history .time ul li{ width: 200px;  border: 1px solid #dad7d7; float: left; margin-left: 18px; margin-top: 23px;}
.history .time ul li p{text-align: center; font-size: 18px; padding: 0 10px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.history .time ul li p strong{ color: #6d3885; font-weight: normal;}
.history .time ul li .btn{width: 67px; height: 22px; line-height: 22px; background: #f1f1f1; display: block; border: 1px solid #dad7d7; color: #666666; text-align: center; text-decoration: none;}
.history .time ul li .p-btn{ width: 144px; margin: 0 auto; padding-top: 17px;}
.history .products li{height: 280px;}
.history .products li img{ width: 180px; height: 180px; padding: 10px;}
.brand li{height: 185px;}
.brand li img{ width: 170px; height: 84px; padding: 15px;}
.brand .time ul li .p-btn{ width: 69px; margin: 0 auto; padding-top: 10px;}
.history .box{ display: none;}
.history .box.active{ display: block;}

/*我的收藏*/
.favorite { padding-bottom: 100px;}
.ware{ width: 100%; padding-bottom: 30px;}
.ware ul{ margin-left: -21px; overflow: hidden;}
.ware li{ width: 282px; height: 100px; float: left; margin-top: 30px; margin-left: 21px;}
.ware li img{ width: 100px; height: 100px; display: block; float: left;}
.ware li .box{ width: 169px; height: 100px; float: right; position: relative;}
.ware li .box h4{ font-size: 18px; font-weight: normal; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.ware li .box p{ font-size: 16px; color: #595757; line-height: 38px;}
.ware li .box a{ height: 22px; line-height: 22px; display: block; position: absolute; bottom: 0; text-decoration: none;}
.ware li .box a.remove{ padding:0 8px; background: #f1f1f1; border: 1px solid #dad7d7; left: 0; color: #666666;}
.ware li .box a.add{ padding: 0 10px; background: #69247d; border: 1px solid #69247d; right: 0; color: #ffffff;}
.ware li .box a.add.disable{ background: #999999;border: 1px solid #999999; cursor: default;}
/*右浮动*/
.fixed-fload{ position: fixed; width: 50px; right: 30px; bottom: 50px;}
.fixed-fload .box{ width: 48px; border: 1px solid #99cc33; font-size:12px; background: #99CC33;}
.fixed-fload .box p{ width: 40px; margin: 9px auto; color: #ffffff; line-height: 14px; text-align: center;}
.fixed-fload .box a{ width: 43px; height: 16px; line-height: 16px; background: #ffffff; text-align: center; color: #99CC33; margin: 0 auto; margin-bottom: 6px; display:block; text-decoration: none;}
.fixed-fload .up{ width: 48px; height: 57px; border:1px solid #e2e2e2; background: url(../images/user/favorite-up.png) no-repeat center center; margin-top: 2px;}
/*弹出层*/
.pop{ display: none;}
.favorite-pop .dialog{ width: 390px; height: 233px; border: 1px solid #69247d; background: #ffffff;}
.favorite-pop .dialog{position: fixed; top: 35%; left: 50%; margin-left: -195px; z-index: 1000;}
.favorite-pop .dialog p{ font-size: 18px; color: #595757; text-align: center; line-height: 130px;}
.favorite-pop .dialog p strong{ color: #69247d; font-weight: normal;}
.favorite-pop .dialog a{ width: 126px; height: 44px; line-height: 44px; font-size: 16px; text-align: center; display: block; text-decoration: none; position: absolute; bottom: 48px;}
.favorite-pop .dialog a.sure{ background: #69247d; border: 1px solid #69247d; color: #FFFFFF; left: 60px;}
.favorite-pop .dialog a.cancel{ background: #ffffff; border: 1px solid #bebebe; color: #595757; right: 60px;}

.pop .mask{background: #000000; position: fixed; top: 0; left: 0; right: 0; bottom: 0; filter:alpha(opacity=80); -moz-opacity:0.8; -webkit-opacity: 0.8; -khtml-opacity: 0.8; opacity: 0.8; z-index: 999; }
/*购买行程*/
.favorite-trip{ padding-bottom: 100px;}
.favorite-trip .title{font-size: 18px;margin-top: 24px; width: 140px; height: 32px; line-height: 36px;}
.favorite-trip .user-t {font-size: 18px; margin-top: 24px; width: 740px;}
.favorite-trip .user-t a{ color: #898989;}
.favorite-trip .user-t a p.active{ color: #7c4c91}
.favorite-trip .ware ul{ margin: 0;}
.favorite-trip .ware li{ width: 215px; margin-left: 15px;}
.favorite-trip .ware li .box{ width: 105px;}
.favorite-trip .logo{ width: 106px; text-align: center; margin: 0 auto; color: #595757;}
.favorite-trip .logo img{ width: 106px;}
.favorite-trip .logo span{ display: block;}
.favorite-trip th,.favorite-trip th a{ color: #595757;}
.favorite-trip th span{ margin-left: 25px;}
.favorite-trip th a{ background: #f1f1f1; border: 1px solid #dad7d7; padding: 3px 10px; margin-left: 15px;}
.favorite-trip th a.active{ background: #ffffff; border: 1px solid #99cc33; color: #99cc33;}
.favorite-trip th  .remove-trip{ width: 95px; height: 25px; line-height: 25px; display: block; padding: 0; text-align: center; background: #6d3885;color: #FFFFFF; position: absolute; top: 12px; right: 20px;}

/*私人定制我的行程*/
.favorite-made{ padding-bottom: 100px;}
.favorite-made .madebox{border-bottom: 1px solid #f1f1f1; padding: 9px 0;}
.favorite-made .madebox p{ float: left;  color: #7c4c91; padding-right: 30px; line-height: 16px;}
.favorite-made dl{ float: left; position: relative;}
.favorite-made dl dt a{ line-height: 16px; padding:0 9px; color: #000000; display: block; text-decoration: none; margin-right: 25px; margin-bottom: 5px;}
.favorite-made dl:hover dt a{background: #99cc33; color: #ffffff;}
.favorite-made dl dt a.active{background: #99cc33; color: #ffffff;}
.favorite-made dl dt p{ cursor: pointer;}
.favorite-made dl dd{ width:344px; border: 1px solid #99cc33; background: #efeff0; overflow: hidden; padding: 12px 0; display: none; position: absolute; top: 16px; left: 0px; z-index: 500;}
.favorite-made dl dd a{ width: 85px; display: block; float: left; padding: 0; line-height: 20px; text-align: center; color: #727171}
.favorite-made dl dd a:hover{ color: #996da6;}
/*分类导航*/
.sort{ margin-top: 17px; margin-left: 17px;}
.sort ul{ border-left:1px solid #dddddd; overflow: hidden;}
.sort li{ border:1px solid #dddddd ; border-left:none; float: left;}
.sort li a{ padding: 3px 21px; color: #727171; text-decoration: none; }
.sort li a:hover{background: #6d3885; color: #ffffff;}
.sort li a.active{background: #6d3885; color: #ffffff;}

.favorite-made .time ul{ border: none; margin-left: 0px;}

/*新建行程*/
.new-made-title{ width: 96px; height: 28px; line-height: 28px;border: 1px solid #dddddd; background: #6d3885; color: #ffffff; text-align: center; cursor: pointer;}
.new-made{width: 222px; height: 140px; font-size: 14px; color: #595757;  border: 1px solid #797979; background: #ffffff;  padding:0 36px; position:fixed; top: 40%; left: 50%; margin-left: -111px; z-index: 1000;}
.new-made p{ line-height: 30px; margin-top: 10px;}
.new-made .text{ width: 100%; height: 32px; line-height: 32px; text-indent: 5px;}
.new-made .btn{ width: 98px; height: 30px; border: 0 none; margin-top: 21px; font-family: "microsoft yahei"; font-size: 14px;}
.new-made .btn.submit{ background: #6d3885; border: 1px solid #7c4c91; color: #ffffff;}
.new-made .btn.cancel{ background: #ffffff; border: 1px solid #dddddd;}




















