@import "func";

.page {
  padding-bottom: 80px;

}

.hd {
  background-color: #fff;
  padding: 2px 0px;
}

.bd {
  margin-top: 12px;
  background-color: #fff;
  position: relative;
  //padding: 10px 15px;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-top:1px solid #D9D9D9;
    -webkit-transform:scaleY(.5);
    -webkit-transform-origin:0 0;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top:1px solid #D9D9D9;
    -webkit-transform:scaleY(.5);
    -webkit-transform-origin:0 0;
  }
  .list {
    padding: 10px 15px;
    @include flexbox();
    @include align-items();
    position: relative;
    &::before{
      content: '';
      position: absolute;
      top: 0;
      left:15px;
      right: 0;
      border-top:1px solid rgba(0,0,0,0.2);
      -webkit-transform:scaleY(.5);
      -webkit-transform-origin:0 0;

    }
    &:first-child{
      &::before{
        display: none;
      }
    }

    .title {
      @include flex(1);

      h5{
        font-size: 1rem;
        color: #000;
        font-weight:400;
      }
      p{
        font-size: .8rem;
      }
    }
    .point{
      font-size: .8rem;
      span{
        font-size: 1.2rem;
        color: $blue;
      }
    }

  }


}
.spacing{
  padding: 15px;
}