@import "func";

.page {

}

.ui-tab {
  width: 100%;
  overflow: hidden
}

.ui-tab-nav {
  width: 100%;
  background-color: #fff;
  font-size: 16px;
  height: 50px;
  @include flexbox();
  @include justify-content();

}

.ui-tab-nav li {
  height: 50px;
  line-height: 50px;
  min-width: 60px;
  text-align: center;
  color: #777;
  border-bottom: 2px solid transparent;
  width: 20%;
  margin: 0 10%;
}

.ui-tab-nav li.current {
  color: #d00000;
  border-bottom: 2px #d00000 solid
}

.ui-tab-nav li:active {
  opacity: .8
}

.ui-tab-content {

}

.ui-tab-content > li {
  display: none;
  &.current {
    display: block;
  }
}

.weui_cells {
  margin-top: 2px;
  .weui_cell_hd {
    width: 40px;
  }
  .weui_cell_bd {
    @include flexbox();
    @include align-items();
    img {
      border-radius: 50%;
      max-width: 40px;
      margin-left: 5px;
      margin-right: 30px;
      display: inline-block;
    }

  }
  .weui_cell_ft_no p{
    font-size: 12px;
    color: #929292;
  }
}

.w100 {
  width: 100px;
}





