@import "func";

.page {
  background-color: #F9F9F9;
}

.bd {
  .navBox {
    position: relative;
    padding: 0;
    margin-bottom: 10px;
    ul {
      @include flexbox();
      @include justify-content();
      @include align-items();
      position: relative;
      &::after {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        @include transform(scaleY(0.5));
      }
      li {
        @include flex(1);
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 10px 0px;
        border-bottom: 2px solid transparent;

        color: #777;
        font-size: 14px;
        &.active {
          color: #d00000;
          border-bottom: 2px #d00000 solid
        }

      }

    }
  }

  .content {
    .tab {
      display: none;
      &.active {
        display: block;
      }
      .text {
        display: none;
      }
    }
  }
}

.weui_cells {
  font-size: 16px;
  margin-top: 10px;
  .weui_cell {
    -webkit-box-align: start;
    -moz-align-items: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    p.tr {
      font-size: 16px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: #000000;
      float: right;
      width: 25%;
    }
    h5,.pr15 {
      width: 75%;
      float: left;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 16px;
    }
    .weui_cell_hd {
      img {
        width: 66px;
        margin-right: 15px;
        display: block;
        height: 66px;
      }
    }

    .box {
      clear: both;
      padding: 6px 0px;

    }

  }
}

.noData {
  &.active{
    display: block;
  }
  display: none;
  font-family: "Microsoft Yahei", "微软雅黑", Arial, Helvetica, sans-serif, "宋体";
  text-align: center;
  h5 {
    font-size: 20px;
    margin-top: 50px;
    color: #6c6c6c;
  }
  p {
    color: #999999;
    line-height: 50px;
  }
  .weui_btn {
    width: 30%;
    color: #EC7F29;
    border: 2px solid #EC7F29;
  }
}

.yellow {
  color: #EC7F29;
}

.w100 {
  width: 100px;
}






