@import "func";

.page {
  padding-bottom: 80px;
}

.bd {
  padding: 0 12px;
  .list {
    padding: 12px 0;
    position: relative;
    &::after{
      content:"";
      position: absolute;
      bottom:0px;
      left:0px;
      right:0px;
      border-bottom:1px solid #D9D9D9;
      -webkit-transform:scaleY(.5);
      -webkit-transform-origin:0 0;
    }
    .main {
      @include flexbox();
      @include  align-items();
      .photo {
        width: 20%;
        img {
          max-width: 100%;
        }
      }

      .title {
        width: 80%;
        vertical-align: middle;
        margin-left: 12px;
        span {
          vertical-align: middle;
          display: inline-block;
          width: 92%;
          h4 {
            font-size: 1rem;
            color: #383838;
            line-height: 1.8;
          }
          p {
            font-size: .8rem;
            small {
              font-size: .8rem;
            }
          }
        }
        &:after {
          content: " ";
          display: inline-block;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
          height: 6px;
          width: 6px;
          border-width: 2px 2px 0 0;
          border-color: #C8C8CD;
          border-style: solid;
          position: relative;
          top: -1px;
        }

      }
    }
    .tips {

      overflow: hidden;
      p {
        float: left;
        font-size: .8rem;
        width: 33.33%;
      }
      padding-top: 8px;
    }
  }

}
