@import "func";

.page {

}

.hd {
  padding: 30px 0px 10px 30px;
  background-color: #fff;
  overflow: hidden;
  @include flexbox();
  @include align-items();

  .boxImg {
    float: left;
    width: 25%;
    margin-right: 20px;
    img {
      border-radius: 50%;
      border: 2px solid #fff;
      max-width: 100%;
    }
  }

  .title {

    h1 {
      display: inline-block;
      font-size: 1rem;
    }
    span {
      font-size: 0.8rem;
    }
    .f26 {
      font-size: 26px;
    }
  }

}

.bd {
  .navBox {
    position: relative;
    padding:0;
    margin-bottom: 10px;
    ul {
      @include flexbox();
      @include justify-content();
      @include align-items();
      position: relative;
      &::after {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        @include transform(scaleY(0.5));
      }
      li {
        @include flex(1);
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 10px 0px;
        border-bottom: 2px solid transparent;

        color: #777;
        font-size: 14px;
        &.active {
          color: #d00000;
          border-bottom: 2px #d00000 solid
        }

      }

    }
  }
  .weui_cells:before {
    border-top: 0px solid #D9D9D9;
  }
  .content {
    .tab {
      display: none;
      &.active {
        display: block;
      }
      .text {
        display: none;
      }
    }
  }
}

.weui_cells {
  margin-top: 2px;

  .weui_cell:nth-child(1) .weui_cell_hd {
    width: 20px;
    height: 24px;
    background: url("../img/top1.png") no-repeat;
    background-size: 80%;
    margin-right: 10px;
  }
  .weui_cell:nth-child(2) .weui_cell_hd {
    width: 20px;
    height: 24px;
    background: url("../img/top2.png") no-repeat;
    background-size: 80%;
    margin-right: 10px;
  }
  .weui_cell:nth-child(3) .weui_cell_hd {
    width: 20px;
    height: 24px;
    background: url("../img/top3.png") no-repeat;
    background-size: 80%;
    margin-right: 10px;
  }
  .weui_cell_hd {
    width: 20px;
    height: 24px;
    margin-right: 10px;
    text-align: center;
  }

  .weui_cell_bd {
    @include flexbox();
    @include align-items();
    img {
      border-radius: 50%;
      max-width: 40px;
      margin-left: 5px;
      margin-right: 30px;
      display: inline-block;
    }

  }

}

.w100 {
  width: 100px;
}





