.mui-control-content {

 // min-height: 736px;
}
/*.mui-slider-item{
  min-height: 736px;
}*/
.mui-control-content .mui-loading {
  margin-top: 50px;
}
.showm{
  margin: 15px;
  span{
    color: red;
  }
}

.mui-table-view-cell{
  padding: 10px;
}
.mui-table-view .mui-media-object {
  line-height: 55px;
  max-width: 55px;
  height: 55px;
}

.ploa{
  border-top: 2px solid #efeff4;
 .mt24{
   margin-top: 24px;
 }
  .line {
    width: 90%;
    margin: 2px auto;
    border-top: 1px solid #cccccc;
  }
  .mui-inline{
    padding-right: 8%;
  }
}