body{ background: #c1011d;}
.content{ background: url(../images/ticket/ticket-bg.png) no-repeat center #000000; background-size: cover; overflow: hidden;}
.main{ width: 1200px; margin: 30px auto 87px auto; background: #ffffff; position: relative;}
