<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图文</title>
    <link rel="stylesheet" href="css/image-text.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
</head>
<body class="global">
<ul class="list">
    <li class="full">
        <a href="#">
            <div class="wrapImg"><img src="img/1.jpg" alt=""></div>
            <h5>德甲-多特2-0 奥巴梅杨2球</h5>

            <p>多特蒙德主场击败因戈施塔特，大黄蜂取得联赛主场5连胜。
                <span class="count">
                    <i class="flag"></i>
                    <i class="cComm">551</i>
                </span>
            </p>
        </a>
    </li>
    <li class="full">
        <a href="#">
            <div class="wrapImg"><img src="img/2.jpg" alt=""></div>
            <h5>中超流言:恒大挖瑞士队长遭拒</h5>

            <p>我是来填充内容的.你好的.哈哈哈.走你看看我有多长,也许我一
                <span class="count">
                    <i class="flag"></i>
                    <i class="cComm">2310</i>
                </span>
            </p>
        </a>
    </li>
    <li class="full">
        <a href="#">
            <div class="wrapImg"><img src="img/3.jpeg" alt=""></div>
            <h5>棉花拳？邹市明重拳血性正名</h5>

            <p>
                邹市明回击了没有重拳的质疑，34岁的他依旧在进步。

                <span class="count">
                    <i class="flag flag3"></i>
                    <i class="cComm">2310</i>
                </span>
            </p>
        </a>
    </li>
</ul>
</body>
</html>