<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>网易</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="css/wyMoblie.css">
</head>
<body class="global">
<div class="headslide">
    <ul>
        <li>
            <a href="#"><img src="img/4.jpeg" alt="">
                <span class="title">江西突降大雪致高速路车辆拥堵8公里</span>
            </a>
        </li>
    </ul>

</div>
<div class="content-list">
    <section class="m_article m_photoset clearfix">
        <a href="#">
            <div class="m_photoset_title">
                四川西昌大楼起火烧10余层 火势冲天
            </div>
            <div class="m_photoset_pic clearfix">
                <img src="http://imgsize.ph.126.net/?imgurl=http://img4.cache.netease.com/3g/2016/1/31/201601312208542d680.jpg_220x165x1x85.jpg&amp;enlarge=true">
                <img src="http://imgsize.ph.126.net/?imgurl=http://img6.cache.netease.com/3g/2016/1/31/20160131220641c2f40.jpg_220x165x1x85.jpg&amp;enlarge=true">
                <img src="http://imgsize.ph.126.net/?imgurl=http://img4.cache.netease.com/3g/2016/1/31/20160131220643725a8.jpg_220x165x1x85.jpg&amp;enlarge=true">
            </div>
            <div class="m_photoset_info clearfix">

                <div class="m_article_desc_l">
                    <span class="m_article_channel">推荐</span>
                    <span class="m_article_time">1小时前</span>
                </div>
                <div class="m_article_desc_r">
                    <i class="iconfont">802</i>
                </div>
            </div>
        </a>
    </section>
</div>
</body>
</html>